{
    "env": {
        "browser": true
    },

    "rules": {
        "array-bracket-spacing": [2, "never"],
        "block-scoped-var": 2,
        "brace-style": [2, "1tbs"],
        "camelcase": 2,
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "consistent-this": [2, "that"],
        "curly": 2,
        "eol-last": 2,
        "eqeqeq": 2,
        "guard-for-in": 2,
        "handle-callback-err": 2,
        "indent": [2, 2, {"VariableDeclarator": 2}],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "keyword-spacing": 2,
        "no-caller": 2,
        "new-cap": 2,
        "new-parens": 2,
        "no-array-constructor": 2,
        "no-bitwise": 2,
        "no-constant-condition": 2,
        "no-else-return": 2,
        "no-empty": 2,
        "no-eq-null": 2,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-undef": 2,
        "no-floating-decimal": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-lonely-if": 2,
        "no-mixed-requires": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-multiple-empty-lines": 2,
        "no-multi-spaces": 0,
        "no-negated-in-lhs": 2,
        "no-new-object": 2,
        "no-path-concat": 2,
        "no-process-env": 2,
        "no-regex-spaces": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-spaced-func": 2,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": 0,
        "no-unused-vars": 0, // we should find a way to only exclude addAnchors and enable this
        "no-use-before-define": [2, "nofunc"],
        "no-void": 2,
        "object-curly-spacing": [2, "always"],
        "operator-assignment": [2, "always"],
        "quotes": [2, "single"],
        "quote-props": [2, "as-needed"],
        "radix": 2,
        "semi": [2, "always"],
        "semi-spacing": 2,
        "space-before-blocks": [2, "always"],
        "spaced-comment": [2, "always"],
        "space-in-parens": [2, "never"],
        "space-unary-ops": [2, {"words": true, "nonwords": false}],
        "strict": [2, "function"],
        "valid-jsdoc": [2, {"requireReturn": false}],
        "valid-typeof": 2,
        "wrap-iife": [2, "outside"],
        "yoda": [2, "never"]
    },

    "globals": {
        "DocumentTouch": true,
    }
}
