<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
    <div style="text-align: center;">
        <img src="/research/figures/PVI/PVI_NumEx1_herr.png"
        style="width:75%"
        alt="Image showing the convergence of error as h tends to 0">
        <figcaption>Convergence of error as $h \rightarrow 0$; fixed stepsize$(\tau) = 5 \times 10^{-5}$, $T_F = 0.25$ and $penalty(\gamma) = 0$.</figcaption>
    </div>
    <br>
    <div style="text-align: center;">
        <img src="/research/figures/PVI/PVI_NumEx1_tauerr.png"
        style="width:75%"
        alt="Image showing the convergence of error as tau tends to 0">
        <figcaption>Convergence of error as $\tau \rightarrow 0$; $T_F = 0.25$ and $penalty(\gamma) = 0$.</figcaption>
      </div>
</body>
</html>