<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<div class="row">
  <div class="column">
    <div style="text-align: center;">
      <img src="/research/figures/PVI/PVI_NumEx1_1.gif"
            style="width:100%"
            alt="Numerical solution for numerical experiment 1: Zero Obstable Problem">
      <figcaption>Numerical Solution</figcaption>
    </div> 
  </div>
  <div class="column">
    <div style="text-align: center;">
      <img src="/research/figures/PVI/PVI_NumEx1_2.gif"
            style="width:100%"
            alt="Contact sets for numerical experiment 1: Zero Obstable Problem">
      <figcaption>Contact set $\Omega_0(t)$</figcaption>
    </div>
  </div>
</div>
</body>
</html>