<!-- start custom footer snippets -->
Polyglot v. 62<br>
{% for lang in site.languages %}
    {% if lang == page.lang %}
{{lang}}
    {% else %}
        {% if lang == site.default_lang %}
<a href="/{{site.website_name}}{{page.link}}">{{lang}}</a>
        {% else %}
            {% if page.lang == "en" %}
<a href="/{{site.website_name}}/{{lang}}/{{page.dir | slice:1,1000}}">{{lang}}</a>
            {% else %}
<a href="/{{site.website_name}}/{{lang}}/{{page.dir | slice:4,1000}}">{{lang}}</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
<br>
<a href="sitemap/">Sitemap</a><br>
<!-- end custom footer snippets -->
