---
layout: page
permalink: /categories/
title: "Posts by Category"
author_profile: true
sidebar_main: true
---

<h1>Categories</h1>
<ul>
  {% for category in site.categories %}
    <li>
      <a href="{{ site.baseurl }}/categories/{{ category[0] }}/">{{ category[0] }}</a> ({{ category[1].size }})
    </li>
  {% endfor %}
</ul>

/*
{% include base_path %}
{% assign combined_collection = site.study | concat: site.project | concat: site.snack %}
{% include group-by-array collection=combined_collection field="categories" %}

<!-- 카테고리별 게시물 수 요약 -->
<div class="categories-summary">
  <h2>Category Summary</h2>
  <ul>
    {% for category in group_names %}
      {% assign posts = group_items[forloop.index0] %}
      <li><a href="#{{ category | slugify }}">{{ category }}: {{ posts | size }}</a></li>
    {% endfor %}
  </ul>
</div>

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
*/

