---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
sidebar_main: true
---

{% include base_path %}
{% assign combined_collection = site.study | concat: site.project | concat: site.snack %}
{% include group-by-array collection=combined_collection field="categories" %}

<!-- 카테고리별 게시물 수 요약 -->
<div class="categories-summary">
  <h2>Category Summary</h2>
  <ul>
    {% for category in group_names %}
      {% assign posts = group_items[forloop.index0] %}
      <li>
        <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/">
          {{ category }}: {{ posts | size }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
