---
layout: archive
title: "Contact"
permalink: contact/
author_profile: true
---

<b> Felipe Parodi </b>
<br>
email: fparodi >> pennmedicine dot upenn dot edu <br>


<br>
<b> Research Labs </b>
<br>
3700 Hamilton Walk <br>
Richards Medical Research Laboratories 
<br>
<em> Platt Lab</em>: Suite A401
<br>
<em> Kording Lab</em>: Suite B401
<br>
Philadelphia, PA 19104 USA
<br>

<!-- Contact form starts -->
<form action="https://formspree.io/f/xoqzobln" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="_replyto" required><br>
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
    <input type="submit" value="Submit">
</form>
<!-- Contact form ends -->

<!-- 
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->"
