---
layout: archive
title: ""
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <h1>PDF Example</h1>
    <p>Open a PDF file <a href="/files/CV-en-Wendong_Huo.pdf">example</a>.</p>
  </body>
</html>


<!-- 
{% pdf "/files/CV-en-Wendong_Huo.pdf" %}

Personal details
======
* Birth  11/24/1997
* Gender  Male 
* Citizenship  Chinese


Education
======
* Hefei No.1 High School, 2012-2015
* B.E. in Engineering Mechanics, Hefei University of Technology, 2015-2019
* Ph.D. in Solid Mechanics, Dalian University of Technology, 2019-present


Selected awards
======
* Special Prize (teamwork, ranked 2nd out of 104 teams), International Engineering Mechanics Contest (Asian Region), 2019
* Special Prize, Chinese Mechanics Competition (Anhui Province competition area), 2017
* National Scholarship, Ministry of Education, 2018
* Merit Student, Hefei University of Technology, 2018
* 1st Prize, "EBSCO Cup" Literature Information Acquisition Competition, 2018
* 2nd Prize (teamwork), Open-Source Industrial Software Integration Contest, 2023
* 2nd Prize (personal), International Engineering Mechanics Contest (Asian Region), 2019
* 3rd Prize, Chinese Mechanics Competition in Honour of Zhou Peiyuan, 2017
* 3rd Prize, Chinese Mechanics Competition (Anhui Province competition area), 2018
* 3rd Prize, Competition of Experimental Mechanics (Anhui Province competition area), 2017


Research areas
======
  * Structure design: size/shape/topology optimization, mathematical programming
  * Phase field: fracture mechanics and computational manufacturing processes
  * Surface structures: wave motion, cloaking, metamaterial, homogenization, FEA, design


Skills
======
* Numerical Methods
  * FEM, BEM, IGA
* Programming languages
  * Python (rpy), Matlab, Fortran, C, C#, JavaScript
* Toolkits
  * [trimesh](https://github.com/mikedh/trimesh), [geomdl](https://github.com/orbingol/NURBS-Python), [pyvista](https://github.com/pyvista/pyvista), [cg3lib](https://github.com/cg3hci/cg3lib), [BFF](https://github.com/GeometryCollective/boundary-first-flattening), [igl](https://github.com/libigl/libigl-python-bindings)
* Softwares
  * CAD: SpaceClaim, Siemens NX (UG), AutoCAD
  * CAE: Abaqus, Ansys, Hyperworks, Fenics, Comsol
  * CG: [MeshLab](https://github.com/cnr-isti-vclab/meshlab), Blender, UE5
* Hardwares
  * Arduino

Publications
======
  <ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>


Presentations
======
* Topology optimization on complex surfaces based on the moving morphable component method and computational conformal mapping, ICASD (International Conference on Aerospace Structural Dynamics), Xi'an, China, 2023.09.15 (preparing)
* Topology optimization on complex surfaces based on the moving morphable component method and computational conformal mapping, WCSMO-15, Cork, Ireland, 2023.06.06
* Topology optimization on complex surfaces based on the moving morphable component method and computational conformal mapping, ACSMO-2022, Virtual, 2022.05.24
* 面向复杂薄壁结构的显式拓扑优化软件, 第一届开源工业仿真软件集成大赛, 线上, 2023.02.24
* 基于移动可变形组件法与计算共形映射的复杂薄壁结构显式拓扑优化, 中国力学学会第三届博士生学术论坛, 线上, 2023.01.07


Seminars
======
* 2nd seminar on explicit topology optimization and software usage, Dalian, 2022.03.24
    * Collaborated with Dr. Xudong Jiang, Mr. Xubing Cheng, and Mr. Wu Xu
* 1st seminar on explicit topology optimization and software usage, Dalian, 2021.05.04
    * Self-organized by students, within the research group


Services
======
* Reviewer for Engineering Structures (2)
* Student Union, Center of Learning and Development, Hefei University of Technology, 2015.09-2016.06


Miscellaneous
======
* Favorites
    * Rhapsody in Blue
    * Chinese chess
    * Basketball and Jogging
    * Surface and shell
    * Iverson and Jordan -->


<!-- 
Conferences and Seminars
====== -->

<!-- Project experience -->
<!-- ====== -->

<!-- * CALVT, Huawei,  -->
<!-- * Summer 2015: Research Assistant
  * Github University
  * Duties included: Tagging issues
  * Supervisor: Professor Git -->


<!--   
Talks
======
  <ul>{% for post in site.talks %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ul>
  
Teaching
======
  <ul>{% for post in site.teaching %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Service and leadership
======
* Currently signed in to 43 different slack teams -->
