---
layout: archive
title : "Experiences"
permalink : /experiences/
author_profile: true
---
<!-- title: "Teaching"
permalink: /teaching/ -->

## Personal Experiences
__
* Development of Multiple Access Wireless Technology in AR/VR medical clinical program, HT CORE. (Oct.2022 - Dec.2022)

* Participated as a Presenter in The 14th Workshop on Convergent and Smart Media System (CSMS). (Sep. 16-18, 2022)

* Participated as a Mentor in The Student Mentor/Mentee Program at Chosun University. (Sep.2022 - Dec.2022)

* Development of Application for Healthcare Purposes Based on Multi-Sensors, KAIST. (Aug.2022 - Oct.2022)

* Participated as an assistant in the NHN backend developer training course, NHN. (Aug.2022 - Feb.2023)

* Development of  Real-Time Location System (RTLS) Framework, Intflow (Inc). (Apr. 21 - Aug. 2022)

* Participated in Gwangju/Jeonnam University Student AI Idea Contest, GJ RIP. (Award of Excellence, Mar. 18-25, 2022)

* Participated in The 2021 Chosun University IT Festival. (Award of Silver, Nov. 26, 2021)

* Development of Application for  MG electricity payment terminal, Encored P&P (Inc). (Oct. 18-31, 2021)​

* Participated as a Mentee in The Student Mentor/Mentee Program at Chosun University. (Sep.2021 - Dec.2021)

* The Team Leader of Capstone Designs 1, and 2 Group Projects in The IoT Track. (Mar.2021 - Dec.2021)

* Experiment & Verification Assistant, Intflow (Inc). (Dec. 2020-Feb. 2021)​

* SW Education Instructor at Seji Middle School in Naju, Korea. (Mar. 2020 – Jul. 2020)

* Regional Development Convergence Contest in Mokpo, Korea. (Grand Prize Award, Jan. 29-31, 2020)​

* Participated in SW Education Instructor Training Course, supported by KEPCO-KDN, Chosun University. (Nov. 11-21, 2019)​


## Research Experiences
__
* Industry-University R&D and International Project Participating Graduated Student Researcher. (Mar. 2022 - Aug. 2023)

* Industry-University R&D and International Project Participating Undergraduated Student Researcher. (Apr. 2021 - Nov. 2021)

* Industry-University R&D and International Project Participating Undergraduated Student Researcher. (Apr. 2020 - Nov. 2020)

* Undergraduate researcher at Smart Networking Lab in Chosun University. (Sep. 2019 - Feb. 2022)



<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
