---
layout: archive
title: "Files"
permalink: /files/
author_profile: true
---

{% include base_path %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed Google Drive File</title>
</head>
<body>
    <h1>Seminar Paper: Using Generative-Discriminative Learning in Neuroimaging for

Interpretable Predictions</h1>
    <iframe 
        src="https://drive.google.com/file/d/1O_-uidvslWsFkHoI8pVbZTzFdPdMrv2r/view?usp=sharing" 
        width="640" 
        height="480" 
        allow="autoplay">
    </iframe>
</body>
</html>
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
