---
layout: archive
title: "Research Group"
permalink: /group/
author_profile: true
---

{% include base_path %}

<h3>Main supervisor</h3>

{% include figure image_path="/images/Jennifer_Andersson.png" alt="this is a placeholder image" caption="[Jennifer Andersson](https://www.it.uu.se/katalog/jenan985)" %}

<h3>Co-supervisor</h3>

gallery:
  - url: /images/Niklas_Gunnarsson.jpg
    image_path: /images/Niklas_Gunnarsson.jpg
    alt: "placeholder image 1"
    title: "[Niklas Gunnarsson](https://katalog.uu.se/empinfo/?id=N18-2523)"
  - url: /images/Dominik_Fay
    image_path: /images/bio-photo.jpg
    alt: "placeholder image 2"
    title: "[Dominik Fay](https://www.kth.se/profile/dominikf)"
  - url: /images/Jackie_Yik.jpg
    image_path: /images/bio-photo.jpg
    alt: "placeholder image 3"
    title: "[Jackie Yik](https://katalog.uu.se/profile/?id=N21-1121)"

{% include gallery %}
