---
layout: default
permalink: /
title: "academicpages is a ready-to-fork GitHub Pages template for academic personal websites"
excerpt: "About me"
author_profile: true
redirect_from:
  - /index/
---

{% include base_path %}

{% for post in site.project %}
  {% include project.html %}
{% endfor %}

# CRS
Le projet CRS (Children Rehabilitation System) vise à développer un outil innovant pour la rééducation motrice chez l’enfant atteint de paralysie cérébrale. L’approche, se basant sur la réalité virtuelle et la ludification (serious game), propose l’intégration du numérique dans la prise en charge traditionnelle.

# Eval-AVQ
Le projet Eval-AVQ vise à développer un outil d'évaluation des activités instrumentales de la vie quotidienne pour des personnes atteintes de la maladie d'Azheimer. L’outil utilise la réalité virtuelle et propose l’intégration d'une méthode d'évaluation des erreurs.

# Rehab-AVQ
Le projet Rehab-AVQ vise à développer un système basé sur la réalité virtuelle pour réentraîner des personnes atteintes de la maladie d'Azheimer à réaliser des activités en cuisine.

#ICS
Le projet ICS (Interface et Cognition Spatiale) s'intéressait à l'impact de la rotation active et de la pratique des jeux vidéo sur le transfert des connaissances spatiales d'un environnement virtuel à la réalité.

#EVEAN
Le projet EVEAN (Excursions in Virtual Environments to Analyse Spatial Navigation") vise à développer un environnement destiné à évaluer les fonctions exécutives (formulation, planification) dans le contexte de la navigation spatiale.
