---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<p>
  As it is, this page deals with the legacy stuff, left over from previous incarnations of my website. 
  I keep it around just in case somebody finds it useful.
  For more recent stuff you're better off following my work on <a href="https://scholar.google.ca/citations?hl=en&user=lgc4lkkAAAAJ">Google Scholar</p>. 
</p>

{% for post in site.oldresearch %}
  {% include archive-single.html %}
{% endfor %}

