---
layout: archive
title: "Orin-X推理"
permalink: /Orin-X推理/
author_profile: true
redirect_from:
  - /Orin-X推理
  - /Orin-X推理.html

---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.myposts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
