---
layout: archive
title: "Patents"
permalink: /patents/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if patents categories are defined -->
{% if site.patents_category %}
  {% for category in site.patents_category  %}
    {% assign title_shown = false %}
    {% for post in site.patents reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.patents reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
