---
layout: archive
title: "Area of Research"
permalink: /portfolio/
author_profile: true
---

<p>Human Navigation, Brain-Inspired Computing, Computational Neuroscience, Neuroimaging<br />

<p>My current research revolves around two questions: How does the brain work during navigation? And, how does the environment influence people’s cognition?<br />

<br />
In answering the first question, I research individual differences in the perception of distance, direction, and decision-making during wayfinding. Particularly, I look at neural mechanisms of the travel direction system in the human brain by using psychophysics, fMRI, and computational modeling.<br />

<br />
Addressing the second question, I am curious about how biased world knowledge influences people’s cognition. As 90% of human beings are right-handed, most man-made tools are designed for right-handed use. In other words, we live in a right-handed world. To look at how biased world knowledge influences cognition at different spatial scales, I test left-handed and right-handed human and virtual robots in spatial tasks.<br />

<br />
My research agenda expands to scientific questions that range across spatial and temporal scales. For example, I ask how neuroinflammation in the medial temporal lobe contributes to spatial disorientation. Additionally, I am interested in the sex differences in spatial abilities across different countries and continents, and how we understand different navigation strategies from an evolutionary perspective (e.g., hunter-gatherer theory). I would like to pursue a career that leverages brain science towards the advancement of artificial intelligence and artificial intelligence towards a greater understanding of the human brain.<br />
</p>

Research Projects<br />
<br />
Current:<br />
<ul>
<li><a href="https://lilianyou.github.io/portfolio/p3handedness/">Travel direction as a fundamental component of human navigation</a></li>
<li>A biologically plausible neural network for motion adaptation of travel direction</li>
<li>Neural representation of direction in exploring a complex environment</li>
<li>Separate neural mechanisms for head direction and travel direction</li>
<li>How handedness is influenced by world knowledge using neurorobots</li>
<li>The relationship between spatial abilities and bandit task risk-taking behaviors</li>
<li>Global sex differences in travel trajectory using a dataset from a mobile game</li>
</ul>
<br />
Completed:
<ul>
<li>The influence of handedness in the mental rotation of hands</li>
<li>Temporal and spatial distance perception towards famous people</li>
<li>Geovisualization of global sex differences in mental rotation</li>
<li>Network analyses of the collaboration among research sites over the past four decades</li>
</ul>

Down below are links for selected projects:

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

