---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---
<!-- 連結要改 -->

<!-- {% if site.author.googlescholar %}
<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar
profile</a>.</div>
{% endif %} -->
<style>
    .link-style {
        font-size: 16pt; 
        font-family: 'Helvetica', serif; 
        color: #0000EE; 
    }
</style>
<div>
<div class="link-container" style="font-size:16.0pt">
[<a  class="link-style" href="http://graphics.csie.ncku.edu.tw/Tony/tony.htm">Prof. Tong-Yee Lee</a>] [<a 
class="link-style" href="http://graphics.csie.ncku.edu.tw/tony_research_summary_2018.htm">Research Summary</a>] [<a 
class="link-style" href="http://graphics.csie.ncku.edu.tw/Tony/record_new.htm#jp">Major Journal Papers</a>] [<a 
class="link-style" href="http://graphics.csie.ncku.edu.tw/Tony/record_new.htm#sjp">Selected Journal Papers</a>] [<a 
class="link-style" href="http://graphics.csie.ncku.edu.tw/Tony/record_new.htm#ricp">Recent International Conference Papers</a>]
</div>

<br>
<div>
<span style="font-size: 12.0pt; font-family: 'Helvetica', sans-serif; color: #666666;">●
<img src="/images/NEW.gif">Ph.D students and postdoctoral positions in CS/CE/EE/Math/Applied Math background are available, please contact us. Experience with computer graphics, image/video processing, computer vision will be a “plus” but not a “must”. Foreign candidates are also very welcome!
</span>
</div>
<br>
<div>
<span lang="EN-US">●
<a class="link-style" href="http://graphics.csie.ncku.edu.tw/Tony/publication_list/tony_paper_list.pdf">Prof. Tong-Yee Lee’s (Tony) partial publication list</span>
</a>
</span>
</div>
<div>
<span lang="EN-US">●
<a class="link-style" href="http://graphics.csie.ncku.edu.tw/tony_research_summary_2018.htm">Research Summary</a>
</span>
</div>
<div>
<h2 style="text-align:justify;text-justify:inter-ideograph">
<span lang="EN-US" style="font-size:12.0pt;font-family:Wingdings;color:#666666;font-weight:normal">l</span>
<span lang="EN-US" style="font-size:12.0pt;font-family:'Helvetica',sans-serif;color:red">Welcome to contact us if you are interested in collaborating with us. Also, welcome some intern students to stay here</span>
<span lang="EN-US" style="font-size:12.0pt;font-family:'Helvetica',sans-serif;color:#666666">.</span>
</h2>
</div>

</div>
<h2 style="text-align:justify;text-justify:inter-ideograph">
<a name="jp">
<span lang="EN-US" style="font-family:'Comic Sans MS';color:#AA3333">Major Journal Papers</span>
</a>
<span lang="EN-US" style="font-family:'Comic Sans MS';color:#AA3333"> (</span>
<span lang="EN-US" style="font-family:'Comic Sans MS';color:#0070C0">ACM/IEEE Transactions/Journals</span>
<span lang="EN-US" style="font-family:'Comic Sans MS';color:#AA3333">)/SIGGRAPH/SIGGRAPH Asia/CVPR (2024/10/07)</span>
<span lang="EN-US" style="font-size:10.5pt;font-family:'Helvetica Neue';color:#333333;background:white"></span>
</h2>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
{% for category in site.publication_category %}
{% assign title_shown = false %}
{% for post in site.publications reversed %}
{% if post.category != category[0] %}
{% continue %}
{% endif %}
{% unless title_shown %}
<h2>{{ category[1].title }}</h2>
<hr />
{% assign title_shown = true %}
{% endunless %}
{% include archive-single.html type="table" %}
{% endfor %}
{% endfor %}
{% else %}
{% for post in site.publications reversed %}
{% include archive-single.html %}
{% endfor %}
{% endif %}