---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% assign journals = site.publications | where: "category", "journal" %}
{% assign bookchapters = site.publications | where: "category", "bookchapter" %}
{% assign books = site.publications | where: "category", "book" %}
{% assign others = site.publications | where: "category", "other" %}
{% assign uncategorized = site.publications | where_exp: "post", "post.category == nil" %}

{% if journals.size > 0 %}
<h2>Journal Articles</h2>
<hr />
<ul>
  {% for post in journals reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}
</ul>
{% endif %}

{% if bookchapters.size > 0 %}
<h2>Book Chapters</h2>
<hr />
<ul>
  {% for post in bookchapters reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}
</ul>
{% endif %}

{% if books.size > 0 %}
<h2>Books</h2>
<hr />
<ul>
  {% for post in books reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}
</ul>
{% endif %}

{% assign combined_other = others | concat: uncategorized %}
{% if combined_other.size > 0 %}
<h2>Other</h2>
<hr />
<ul>
  {% for post in combined_other reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}
</ul>
{% endif %}
