---
layout: archive
title: "Research"
permalink: /research/
author_profile: false
---

{% include base_path %}
Caution! This page is under construction. I am adding more zeros and ones to the code and less confusion to the layout. Please come back in a while. Thanks for your patience. 
<h2>Publications</h2>
<p>Boyana, S. B., Lewis, T., Rapp, A., \& Zhang, Y. (2023). <em>Convergence analysis of a symmetric dual-wind discontinuous Galerkin method for a parabolic variational inequality</em>.Journal of Computational and Applied Mathematics, 422, 114922. 
<br>
<a>https://www.sciencedirect.com/science/article/pii/S0377042722005209</a>
<br>
Supported by NSF grants DMS-2111059 (PI: T. Lewis) \& DMS-2111004 (PI: Y. Zhang)</p>

<h3>In Preparation</h3>
<p>Boyana, S. B., Lewis, T.,  \& Zhang, Y. <em>Convergence Analysis of a Symmetric Dual-Wind Discontinuous Galerkin Methods for an Elliptic Optimal Control Problem with Control Constraints</em>
<br>
Supported by NSF grant DMS-2111004 (PI: Y. Zhang)</p>

<p>Boyana, S. B., Lewis, T., Liu, S.,  \& Zhang, Y. <em>Convergence Analysis of a Novel Discontinuous \\ Galerkin Methods for a Convection-Diffusion Equation in a Convection-Dominated Regime</em>.
<br>
Supported by NSF grant DMS-2111004 (PI: Y. Zhang)</p>

<h2>Research Projects</h2>
{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Collabortors</h2>
{% include collaborators.html %}