---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

<div>
  <h1>Representation Learning for Data-Efficient Reinforcement Learning</h1>
</div>

<div>
  <h1>Analyzing the Hidden Activations of Deep Policy Networks: Why Representation Matters</h1>
</div>

<div>
  <h1>Removing Rain from Images with Densely-Connected Convolutional Networks</h1>
</div>