---
layout: archive
permalink: /rolling-archive/
title: "Personal daily events"
author_profile: true
redirect_from:
  - /wordpress/rolling-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.rollings reverse%}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
