---
layout: archive
title: "Scientific Software"
permalink: /scientific-software/
author_profile: true
---

{% include base_path %}

<b>Currently (2014-)</b> at University College London (UCL) I am developing software for structure prediction at nanoscale. 
<br>
{% for post in site.scientific-software %}
  {% include archive-single.html %}
{% endfor %}
<br>

<b>Previously (2011-2014)</b> at Loughborough University I was involved in developing and maintaining software to model physical processes, such as during radiation damage, occurring during radiation damage events. 

<br><br>
<img src='/images/RadiationEvent.png' width='600' align='middle'>
<br><br>
Radiation events are usually driven by energetic particles and their effect on the nearby atoms in physical objects. Within the first few ps of a radiation event, also known as the <i>ballistic phase</i>, the initial damage region becomes highly distorted and leads to a thermal spike, a quick local temperature increase, and thermally driven processes occur which can be modelled using the Molecular Dynamics technique. After the ballistic phase, the system is left with metastable defects as it reaches local minimum and the processes of defect recombination, migration and clustering take place on much longer time scales - the so called <i>recovery phase</i>, which cannot be simulated using MD and other techniques must be employed, such as Kinetic Monte Carlo.
<br><br>
In order to model radiation damage events, two in-house software packages were exploited. LboMD was used to model the ballistic phase and LAKMC was used to model the recovery phase. To read more about the software and the project, please check my PhD <b><a href="https://dspace.lboro.ac.uk/2134/15411">thesis</a></b>.
<br>
{% for post in site.scientific-software-prev %}
  {% include archive-single.html %}
{% endfor %}