---
layout: archive
title: "Scientific Software"
permalink: /scientific-software/
author_profile: true
---

{% include base_path %}

Currently (2014-) I am developing software at University College London (UCL).
<br>
{% for post in site.scientific-software %}
  {% include archive-single.html %}
{% endfor %}
<br>
Previously (2011-2014) at Loughborough University I was involved in developing and maintaining software to model physical processes, such as during radiation damage, occurring during radiation damage events. 
<img src='/images/HPC_Checker.png' width='300' align='100' hspace='20'>

<br>
{% for post in site.scientific-software-prev %}
  {% include archive-single.html %}
{% endfor %}