---
layout: archive
title: "Services"
permalink: /service/
author_profile: true
---

I started to be education advisor when I was a junior student in Beijing, and volunteered to teach in Kenya as a computer science teacher before. I taught <a href="https://www.sohu.com/a/208044401_479688">AMC12</a> in <a href="http://www.xdf.cn/">XDF.CN</a> in 2017.
I have the passion to help students and junior engineers.
<br>
<br>
Please feel to contact me if you would like to discuss about the following topics:
<br>
- Studying in foreign countries for computer science and related majors (IEOR, BA, etc.);
<br>
- Interviewing for software engineer and business analytics roles in tech companies;
<br>
- Working in tech companies after graduating from STEM programs in US and China.
<br>
<br>
Please feel free to contact me through the following accounts:
<br>
<br>
<b>WeChat: shawnxdong</b>
<br>
<b>Email: shawnxdong@gmail.com</b>




<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/service.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
