---
layout: archive
title: "Software & Tutorial"
permalink: /_pages/Software&Tutorial.html/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

# STREAM

![](images/STREAM_ICRA.png){: .align-right width="200px"}

This is a well-developed Blender add-on built for automatically routing a Macrofludic logic circuit. The only requirement for using the software is to install the Blender. In our tutorial, more details are provided. Please refer to the guidelines from our (project repository)[https://github.com/roboticmaterialsgroup/FluidLogic].
