---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

# Teaching profile

I have experience in teaching political behaviour with an emphasis on collective action, political attitudes, and public opinion; political sociology, concentrating mostly on organizations in politics; public policy with a focus on agenda dynamics; research methods, and applied statistics at the introductory and intermediate level on multiple subfields.
I also teach computational methods for text and network analyses techniques as well as R language courses. 
I regularly teach short seminars on applied data science for multiple universities and research centres in social sciences, data journalism, entrepreneurship, or social activism. 
I am an accredited associate professor (AQU Agregat 2022) and (ANECA Contratado doctor 2021). 
I have authored two textbooks on applied statistical research (Universitat Oberta de Catalunya). 
I have directed more than ten master’s theses and three of them have received merit awards as the best in their class. 
I have mentored eight research assistants who have performed excellently and have been motivated to continue with academic research or have continued their learning path on applied methods. 
I have served on three PhD committees, reviewed for seventeen international academic journals and I currently co-supervise a PhD thesis and serve as project evaluator for the Research Agency of the Ministry of Science and Innovation. 
I am a member of the Quality of Democracy research group, and of academic networks such as Comparative Interest Group Survey, Text Mining of Political and Legal Texts (COMPTEXT) and ECPR Standing Group on Political Methodology.
