---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

Recitation:
* Physics 71 (Elementary Physics I) - Mechanics of particles, rigid bodies and fluids.
* Physics 72 (Elementary Physics II) - Electricity and magnetism, wave phenomena, and optics.

Lab:
* Physics 71.1 - Elementary Physics I Laboratory

Checker:
* Physics 117 (Mathematical Methods in Physics II)
* Physics 126 (Classical Mechanics)
* Physics 152 (Statistical Physics)
