---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Here are directions to the ressources for the various tutorials I give at ENSAE. <br>

<a href="https://lecueguillaume.github.io/2019/01/15/optimisation_diff/">Optimisation </a>

<br>

<a href="https://www.ensae.fr/en/courses/https://vianney.ai/teaching/">Introduction to Machine Learning </a>

<br>


<a href="http://lerasle.perso.math.cnrs.fr/docs/Stat2.pdf"> Statistics 2 </a>




{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
