_site/
.DS_Store
default_ones_for_seeing_style/
vendor/bundle/ruby/*
.gitignore
# For now _news/* pages are added here, if we want to add details to each news as a link, we will use this
_news/2012-08-14-blog-post-1.md
_news/2013-08-14-blog-post-2.md
_news/2014-08-14-blog-post-3.md
_news/2015-08-14-blog-post-4.md
_news/2199-01-01-future-post.md
################
files/old-pdfs/Solaiman_CV_Spring23-Nov14-2022.pdf
files/old-pdfs/Teaching_Statement___AVP.pdf
files/old-pdfs/transAI-augmentation-2021-nonConfCopyright.pdf
_pages/bk_sitemap.md
