{% import "colors.html" as colors %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="google-site-verification" content="rMkQi-aDd8LNX0b984Y-xENP9_5bLtXINrXANJX9YmU" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{ get_url(path="/main.css") | safe }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.4/css/academicons.min.css" integrity="sha512-IW0nhlW5MgNydsXJO40En2EoCkTTjZhI3yuODrZIc8cQ4h1XcF53PsqDHa09NqnkXuIe0Oiyyj171BqZFwISBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8"></script>
        <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
              processEscapes: true
            }
          });
        </script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
        <style>
            body {
                background-color: {{ colors::background() }};
            }
        </style>
        {% block extracss %}{% endblock extracss %}
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    </head>
    <body class="layout-documentation page-components">
        <nav class="navbar is-{{ colors::navbar_style() }} {{ colors::navbar_shadow() }}" role="navigation" aria-label="main navigation">
            {% if not config.extra.wide_navbar %}
            <div class="container">
                {% endif %}
                <div class="navbar-brand">
                    <a class="navbar-item is-size-4" href="{{ config.base_url | safe }}">
                        <strong>{{ config.title }}</strong>
                    </a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        {% for button in config.extra.menu_left %}
                        <a class="navbar-item is-size-6" href="{{ get_url(path=button.link) | safe }}">
                            <strong>{{ button.name }}</strong>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="navbar-end">
                        {% for button in config.extra.menu_right %}
                        <a class="navbar-item is-size-6" href="{{ get_url(path=button.link) | safe }}">
                            <strong>{{ button.name }}</strong>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            {% if not config.extra.wide_navbar %}
            </div>
            {% endif %}
        </nav>
        {% block content %}{% endblock content %}
        {% block footer %}
        {% if not config.extra.disable_footer %}
        <footer class="footer">
            <div class="content has-text-centered">
                <p>Powered by <strong><a class="has-text-{{ colors::style() }}" href="https://github.com/tforgione/zola-academic">the academic theme</a></strong> for <strong><a class="has-text-{{ colors::style() }}" href="https://www.getzola.org">Zola</a></strong> using <strong><a class="has-text-{{ colors::style() }}" href="https://bulma.io">Bulma</a></strong>.
            </div>
        </footer>
        {% endif %}
        {% endblock footer %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
              const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
              if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach( el => {
                  el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                  });
                });
              }
            });
        </script>
    </body>
</html>
