{% import "colors.html" as colors %}
{% macro post_header(post, thumbnail=false) %}
<div class="columns is-desktop">
    <div class="column is-desktop is-two-thirds">
        <h2><a class="has-text-{{ colors::style() }}" href="{{ get_url(path=post.path) | safe }}">{{ post.title }}</a></h2>
        {% if post.extra %}
        {% if post.extra.authors %}
        <p class="has-text-grey"> {{ post.extra.authors | join(sep=", ") }}
        {% if post.extra.publication %}
        <br/>
        {{ post.extra.publication }}, {{ post.extra.year }}
        {% endif %}
        </p>
        <p>
        {% endif %}
        {% endif %}

        {% if post.extra %}
        {% if post.extra.links %}
        {% for link in post.extra.links %}
        {% if link.link is starting_with("http://") or link.link is starting_with("https://") %}
        <a class="button is-outlined is-small is-{{ colors::style() }}" href="{{ link.link | safe }}">
            {% else %}
            <a class="button is-outlined is-small is-{{ colors::style() }}" href="{{ get_url(path=link.link) | safe }}">
                {% endif %}
                {{ link.name }}
            </a>
            {% endfor %}
        </p>
        {% endif %}
        {% endif %}

        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
    </div>
    {% if thumbnail %}
    {% if post.extra %}
    {% if post.extra.image %}
    {% set assets_path = post.relative_path | split(pat="/") | reverse | slice(start=1) | reverse | join(sep="/") %}
    <div class="column is-desktop is-one-third container">
        <figure class="image is-192x192">
            {% set img = resize_image(path = assets_path ~ "/" ~ post.extra.image.path, width=256, op='fit_width') %}
            <img src="{{ img.url | safe }}">
        </figure>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endmacro %}

{% macro project_header(project) %}
<a href="{{ get_url(path=project.path) | safe }}">
    <div class="card is-2">
        {% if project.extra %}
        {% if project.extra.image %}
        {% set assets_path = project.relative_path | split(pat="/") | reverse | slice(start=1) | reverse | join(sep="/") %}
        <div class="card-image">
            <figure class="image" style="margin: 0px;">
                {% set img = resize_image(path = assets_path ~ "/" ~ project.extra.image.path, width=512, op='fit_width') %}
                <img src="{{ img.url | safe }}">
            </figure>
        </div>
        {% endif %}
        {% endif %}

        <div class="card-content">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
        </div>
    </div>
</a>
{% endmacro %}
