/*------------------------------------------------------------------
  	[Promo Banner]
------------------------------------------------------------------*/

.promo-banner {
	text-align: center;

	.promo-banner-title {
		@include font($size: 50px);
		color: $color-white;
	}

	.promo-banner-text {
		@include font($size: 20px);
		color: $color-white;
		opacity: .8;
	}
}