/*-- scss:defaults --*/
// Base document colors
$primary: #0054a6;
$link-color: $primary;
$navbar-bg: $primary;
$navbar-fg: white;
$body-bg: #fcfcfc;
$body-color: #2c2c2c;
$footer-bg: $primary;
$footer-fg: white;

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/
.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}

.quarto-title-block .quarto-title-banner {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.listing-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  
  &:hover {
    transform: translateY(-3px);
  }
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.quarto-grid-item {
  padding: 1rem;
}