<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width:50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
  <div style="text-align: center;">
    <div class="row">
      <div class="column">
        <div style="text-align: center;">
            <img src="/teaching/pics/CalcA_OH.jpg"
            style="width:100%"
            alt="Interacting with students at office hours">
        </div>
      </div>
      <div class="column">
        <div style="text-align: center;">
            <img src="/teaching/pics/working with keta and satyajith_.jpg"
            style="width:100%"
            alt="Interacting with students at office hours">
        </div> 
      </div>
    </div>
    <p><i>Interacting with students at office hours</i></p>
  </div>
</body>
</html>