<html>
<head>
<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
p {
  font-size: 5px; /* 14px/16=0.875em */
}
.table-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
</style>
</head>
<body>
    <div class="Instructor of record">Sample Table Title</div>
    <table>
        <thead>
            <tr>
              <th>Course</th>
              <th>Semester</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
            </tr>
            <tr>
              <td>Data 4</td>
              <td>Data 5</td>
              <td>Data 6</td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
    </table>
</body>
</html>



