$primary-color              : #343434;
$dark-primary-color         : mix(#000, $primary-color, 40%);
$darker-primary-color       : mix(#000, $primary-color, 60%);
$light-primary-color        : mix(#fff, $primary-color, 50%);
$lighter-primary-color      : mix(#fff, $primary-color, 90%);
$background                 : #f3f3f3;
$background-light           : #fafafa;
$background-lighter        : #ffffff;
$text                      : #343434;
$text-muted                : #8e8b82;
$link                      : #343434;
$link-dark                 : mix(#000, $link, 25%);
$link-light                : mix(#fff, $link, 25%);
$footer                    : #e9dcbe;
$border                    : #e9dcbe;
$border-light              : mix(#fff, $border, 50%);

/* Color codes used for the site */
$danger-color               : #d35c5c;
$info-color                 : #88a4d3;
$notice-color               : #b49368;
$success-color              : #6eb958;
$warning-color              : #e0ac16;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Light theme for the site */
:root {
  --global-base-color                 : #{$primary-color};
  --global-bg-color                   : #{$background};
  --global-footer-bg-color            : #{$footer};
  --global-border-color               : #{$border};
  --global-dark-border-color          : #{$text-muted};
  --global-code-background-color      : #{$background-lighter};
  --global-code-text-color            : #{$darker-primary-color};
  --global-fig-caption-color          : #{$text-muted};
  --global-link-color                 : #{$link};
  --global-link-color-hover           : #{$link-dark};
  --global-link-color-visited         : #{$link-light};
  --global-masthead-link-color        : #{$text};
  --global-masthead-link-color-hover  : #{$text-muted};
  --global-text-color                 : #{$text};
  --global-text-color-light           : #{$text-muted};
  --global-thead-color                : #{$border-light};
}

footer {
  color: #{$text};
}

// Do not change the color of the social icons in the feed icons
.page__footer-follow .social-icons i:not(.fa-rss-square),
.page__footer-follow .social-icons .svg-inline--fa:not(.fa-rss-square) {
  color: inherit;
}