<style>
  .news-photos {
  display: grid;
  gap: 20px; /* Adds space between the images */
  justify-content: center; /* Centers the images horizontally */
}

.news-photo {
  width: 500px;
  height: auto; /* Keeps the aspect ratio intact */
}

.news-photos.one-photo {
  grid-template-columns: 1fr; /* Only one column if there's one image */
}

.news-photos.two-three-photos {
  grid-template-columns: repeat(3, 1fr); /* Up to 3 images in one row */
}

.news-photos.four-or-more-photos {
  grid-template-columns: repeat(2, 1fr); /* Two images per row */
}
</style>



{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="news__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="news__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    <p class="news__description">{{ post.description }}</p>

    <p class="news__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> News date:</strong> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>

    {% if post.photos %}
  <div class="news-photos 
    {% if post.photos.size == 1 %}one-photo{% elsif post.photos.size <= 3 %}two-three-photos{% else %}four-or-more-photos{% endif %}">
    {% for photo in post.photos %}
      <img src="{{ photo | prepend: base_path }}" alt="News photo" class="news-photo">
    {% endfor %}
  </div>
{% endif %}

    
  </article>
</div>
