{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.abstract %}
      <details><summary>Abstract</summary>
      <blockquote>
      <p>
      {{ post.abstract }}
      </p>
      </blockquote>
      </details>
    {% endif %}
    
    <!-- citation and icon code -->
    <p>
    {% if post.citation %}
      {{ post.citation }}
    {% endif %}
    <br>
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.link %}
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.code %}
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.github %}
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
    {% endif %}
    </p>

  </article>
</div>
