{% include base_path %}
<link rel="stylesheet" href="/assets/css/pdf-link.css"/>

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link and post.permalink %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% elsif post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
      {% elsif post.paperurl %}
        <a href="{{ post.paperurl }}">{{ title }}</a>
      {% elsif post.inpress %}
        <i>(in press)</i> {{ title }}
      {% elsif post.permalink %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}

      {% if post.course_overview %}
      <div class="terms-taught"><ul>
        {% for course in site.teaching %}
          {% if course.title == post.title and course.academic_term %}
          <li>
            {% if course.link %}
              <a href="{{ course.link }}">{{ course.academic_term }}</a>
            {% else %}
              {{ course.academic_term }}
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
      </ul></div>
      {% endif %}

      {% if post.pdf %}
        <div class="pdf-bubble"><a class="pdf-link" href="{{ post.pdf}}">pdf</a></div>
      {% endif %}
    </h3>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.type and post.venue %}
      <p class="page__meta">{{ post.type }}, {{ post.venue }}</p>
    {% endif %}
    {% if post.advisor %}
      <p class="page__meta">Supervised by {{ post.advisor }}</p>
    {% endif %}
    {% if post.citation %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p>
    {% endif %}
    
    <!--{% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}-->
    </li>
 </article>
</div>
