{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h3 class="archive__item-title" itemprop="headline">
      <!-- adding for publications -->         
      {% if post.collection != 'publications' %}                    
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      {% endif %}
    </h3>

    <!-- change header to h3 if want post.collection == 'publications' to have smaller size only -->
    <!-- <h3 class="archive__item-title" itemprop="headline">
      {% if post.collection == 'publications' %}            
        {{ title }}   
      {% endif %}
    </h3> -->
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    <!--  -->
    <!-- starting publication style -->
    <!--  -->
    {% elsif post.collection == 'publications' %}
    <li>
      <!-- <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p> -->
      {% if post.title %}            
        <!-- <h3 class="archive__item-title" itemprop="headline">   -->
        <!-- underlining when hovering was happening bcoz of archive__item-title class in _archive.scss, deleting is same  --> 
        <b>
          {{ title }} 

          <!-- conference url / arxiv url (No, not adding arxiv url) -->
          {% if post.link %}
            <!-- <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a> -->
            [<a href="{{ post.link }}">URL</a>]
          {% endif %}

          <!-- replacing paperurl to pdf -->
          <!-- {% if post.paperurl %}       
            <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
          {% endif %} -->
          {% if post.pdf %}       
            [<a href="{{ post.pdf }}">PDF</a>]
          {% endif %}

          {% if post.versionlink %}
            <!-- <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a> -->
            [<a href="{{ post.versionlink }}">Previous Version</a>]
          {% endif %}

          <!-- Code and Github is same thing, will fix later if adding on any paper -->
          {% if post.code %}
            <a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
          {% endif %}
          {% if post.github %}
            <a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
          {% endif %}

          <!-- {% if post.video %}
            <a href="{{ post.video }}"><i class="fas fa-fw fa-video"  aria-hidden="true"></i></a>
          {% endif %}  -->
          {% if post.video %}       
            [<a href="{{ post.video }}">Video</a>]
          {% endif %}
          {% if post.talk %}       
            [<a href="{{ post.talk }}">Presentation</a>]
          {% endif %}
        </b> 
      {% endif %}   

      {% if post.abstract %}
        <details><summary>Abstract</summary>
        <blockquote>
        <p>
        {{ post.abstract }}
        </p>
        </blockquote>
        </details>
      {% endif %}

      <!-- citation and icon codes -->
      <!-- 
      # poster
      # pdf
      # dataset
      # slide
      # talk/ video
      # source code  
      # award -->
      <!-- <p> -->
      <!-- {% if post.citation %}
        {{ post.citation }}
      {% endif %} -->
      
      <br>
      {% if post.authors %}
        <!-- <i>{{ post.authors }}</i> -->
        {{ post.authors }}
      {% endif %}
      <br>
      {% if post.venue %}
        <!-- <b><i style="color:rgb(1, 14, 26)">{{ post.venue }}</i></b> -->
        <!-- <b style="color:rgb(1, 14, 26)">{{ post.venue }} {{ post.year }}</b> -->
        <b>{{ post.venue }} {{ post.year }}</b>
      {% endif %}
      <!-- {% if post.year %}
        <b><i style="color:rgb(1, 14, 26)">{{ post.year }}</i></b>
      {% endif %} -->
      <br>
      {% if post.notes %}
        <b><i style="color:rgb(1, 14, 26)">Previously submitted in  {{ post.notes }}</i></b>
      {% endif %}
      <!-- <br> --> 

      <!-- &nbsp; -->
      <span class="author">
        <!-- Venue and Type -->
        {% if post.venue-type %}
          <button class="btn--small">{{ post.venue-type }}</button>
        {% endif %}
        {% if post.research-category %}
          <button class="btn--small">{{ post.research-category }}</button>
        {% endif %}
      </span>
      <!-- &nbsp; -->

      <!-- <span class="author">The Author</span> -->


      <!-- </p> -->
    </li>
    {% elsif post.collection == 'posts' and post.date %}
      <p class="page__date"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}
    
    {% if post.excerpt and post.collection == 'research' and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
        <div class="container">
          {{ post.excerpt }}
          <div class="overlay">
          </div>
        </div>
        </a>
      </p>
    <!-- {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %} -->
    {% elsif post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
          <strong>
            <a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a>
          </strong>
        </p>
      </p>
    {% endif %}
    
    <!-- {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %} -->

  </article>
</div>
