{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <div class="textbox">
    <span style="display:block; margin-top:-4em; visibility: hidden">text</span>
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.doi %}
        <a href="https://doi.org/{{ post.doi }}" target="_blank">{{ title }}</a>
      {% else %}
        <a href="{{ post.paperurl }}" rel="permalink" target="_blank">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.date %}<p class="page__meta"><i class="fa fa-calendar-alt" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>{% endif %}
    {% if post.authors and post.venue %}<p class="archive__item-excerpt" style="font-size:18px">{{ post.authors }}<br><br><i>{{ post.venue }}</i></p>{% endif %}
    {% if post.preprinturl %}
      <p class="archive__item-excerpt" itemprop="description"><a href="{{ post.preprinturl }}" target="_blank">Preprint <i class="fas fa-external-link-alt"></i></a></p>
    {% endif %}
  </article>
  <span style="display:block; margin-top:-2em; visibility: hidden">text</span>
</div>
</div>
<span style="display:block; margin-top:0.25em; visibility: hidden">text</span>
