{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.link and post.code and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.paperurl and post.link and post.code %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.paperurl and post.code and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.paperurl and post.code %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.paperurl and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.link and post.code and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.link and post.code %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      </p>
    {% elsif post.paperurl and post.link and post.code and post.github %}
      <p>
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.paperurl and post.link and post.code %}
      <p>
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.paperurl and post.link and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.paperurl and post.link %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.link and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.link %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.paperurl and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      </p>
    {% elsif post.paperurl and post.link and post.github %}
      <p>
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.paperurl and post.link %}
      <p>
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.link }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i></a></p>
    {% elsif post.citation and post.code and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.code %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      </p>
    {% elsif post.paperurl and post.code and post.github %}
      <p>
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.paperurl and post.code %}
      <p>
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation and post.github %}
      <p>Recommended citation: {{ post.citation }}
      <a href="{{ post.code }}"><i class="fas fa-fw fa-code" aria-hidden="true"></i></a>
      </p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl post.github %}
      <p>
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      <a href="{{ post.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      </p>
    {% elsif post.paperurl %}
      <p>
      <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i></a>
      </p>
    {% endif %}

  </article>
</div>
