{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<table style="border: none; border-collapse: collapse;" border="0">
  <colgroup><col style="width:40%"><col style="width:60%"></colgroup>
  <tbody>
    <tr style="border-collapse: separate; border-spacing:30em;">
      <td style="border-collapse: collapse; border: none;">
        {{post.excerpt}}
        </td>
      <td style="border-collapse: collapse; border: none;">
        <p><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a> <br>
          {{ post.citation }} <br>
          {% if post.status == 'done' %}
           <i>{{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }} </i>
           {% else %}
           <i>{{post.status}}, {{ post.date | default: "1900-01-01" | date: "%Y" }} </i>
          {% endif %}
          </p>
        </td>
    </tr>
  </tbody>
  </table>