{% include base_path %}


    <h2 class="archive__item-title" itemprop="headline">
     {{post.title}}
    </h2>
    


        {% if post.with %}
          <p><i>{{ post.venue }}</i> {{ post.wdate}}, {{post.issue}}. {{post.with}}. </p>
        {% else%}
          <p><i>{{ post.venue }}</i> {{ post.wdate}}, {{post.issue}}. {{post.with}}. </p>>
        {% endif %}

        {% if post.prize1 %}
          <p>{{ post.prize1 }} </p>
        {% endif %}

        {% if post.prize2 %}
          <p>{{ post.prize2 }} </p>
        {% endif %}

        {% if post.prize3 %}
          <p>{{ post.prize3 }} </p>
        {% endif %}


