{% include base_path %}
<link rel="stylesheet" href="/assets/css/pdf-link.css"/>
<link rel="stylesheet" href="/assets/css/video-link.css"/>

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        {{ title }}<a href="{{ post.link }}"><i class="fa fa-link" aria-hidden="true"></i></a>
      {% else %}
        {{ title }}
      {% endif %}
      {% if post.video %}
        <div class="video-bubble"><a class="video-link" href="{{ post.video }}">video</a></div>
      {% endif %}
      {% if post.pdf %}
        <div class="pdf-bubble"><a class="pdf-link" href="{{ post.pdf }}">slides</a></div>
      {% endif %}
    </h3>
    {% if post.date %}
      <p class="page__meta"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>
    {% endif %}
    {% if post.venue%}
      <p class="archive__item-excerpt" itemprop="description">{{post.type}} at {{ post.venue }}, {{post.location}}</p>
    {% endif %}
    <!-- {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %} -->
    </li>
  </article>
</div>

