{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  <h3 class="archive__item-title" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a> 
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">
        <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
        <span class="sr-only">Permalink</span>
      </a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </h3>

  {% if post.date %}
    <p class="page__meta"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>
  {% endif %}

  {% if post.talk_type or post.venue or post.location %}
    <p class="archive__item-excerpt" itemprop="description">
      {% if post.talk_type %}{{ post.talk_type }}{% endif %}
      {% if post.venue %} at {{ post.venue }}{% endif %}
      {% if post.location %}, {{ post.location }}{% endif %}
    </p>
  {% endif %}
</li>
