<figure>

  <audio
    src="{% if include.cache_bust %}{{ include.path | relative_url | bust_file_cache }}{% else %}{{ include.path | relative_url }}{% endif %}"
    {% if include.class %}class="{{ include.class }}"{% endif %}
    {% if include.alt %}alt="{{ include.alt }}"{% endif %}
    {% if include.title %}title="{{ include.title }}"{% endif %}
    {% if include.autoplay %}autoplay{% endif %}
    {% if include.controls %}controls{% endif %}
    {% if include.loop %}loop{% endif %}
    {% if include.muted %}muted{% endif %}
  />

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>
