<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="row">
  <div class="column">
    <img src="/research/figures/u_ex1.png"
            style="width:100%"
            alt="exact solution for numerical experiment 1">
    <figcaption>Exact Solution</figcaption>
  </div>
  <div class="column">
    <img src="/research/figures/u_h_ex1.png"
            style="width:100%"
            alt="numerical solution for numerical experiment 1">
    <div class="w3-center-align"><p>Numerical Solution</p></div>
  </div>
</div>

</body>
</html>