<article id="comment-{{ include.id }}" class="js-comment comment {% if include.name == site.author.name %}admin{% endif %} {% unless include.parent == include.id %}child{% endunless %}" itemprop="comment" itemscope itemtype="https://schema.org/Comment">
  <div class="comment__avatar">
    <img src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60" alt="{{ include.name }}">
  </div>
  <div class="comment__main">
    <div class="comment__meta">
      <strong itemprop="name" class="h-card">{{ include.name | strip_html }}</strong>
      {% if include.date %}
        <span class="comment_date">
          <span data-translate="comment_form_at">{{ site.data.ui-text[site.locale].comment_form_at | default: "at" }}</span>
          <a href="#comment-{{ include.id }}" itemprop="url" title="{{ site.data.ui-text[site.locale].comment_form_permalink | default: "Permalink to this comment" }}">
            <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ include.date | date: "%m/%d/%Y %H:%M:%S UTC" }}
            </time>
          </a>
        </span>
      {% endif %}
    </div>
    <div class="comment__message" itemprop="text">
      {{ include.message | markdownify }}
    </div>
    {% unless include.is_last == false or page.comments_locked == true %}
    <div class="comment__reply">
      <a rel="nofollow" href="#comment-{{ include.id }}" onclick="return addComment.moveForm('comment-{{ include.id }}', '{{ include.parent }}', 'respond', '{{ page.slug }}')" data-translate="comment_form_reply_to">
        {{ site.data.ui-text[site.locale].comment_form_reply_to | default: "&#x2BA9; Reply" }}
      </a>
    </div>
    {% endunless %}
  </div>
</article>

{% for reply in include.replies %}
  {% assign id          = reply[1]._id %}
  {% assign parent      = reply[1]._parent %}
  {% assign avatar      = reply[1].avatar %}
  {% assign email       = reply[1].email %}
  {% assign name        = reply[1].name %}
  {% assign url         = reply[1].url %}
  {% assign date        = reply[1].date %}
  {% assign message     = reply[1].message %}
  {% assign is_last     = forloop.last %}
  {% include comment.html id=id parent=parent avatar=avatar email=email name=name url=url date=date message=message is_last=is_last%}
{% endfor %}