{%- capture article_class %}js-comment comment{% if include.name == site.author.name %} admin{% endif %}{% if include.is_reply %} child{% endif %}{% endcapture %}
{% assign comment_id = include.uid | prepend: 'comment-' %}
<article id="{{ comment_id }}" class="{{ article_class }}" uid="{{ include.uid }}">

  <div class="comment__avatar-wrapper">
    <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ include.email }}?s=60&d=identicon&r=g" alt="{{ include.name }}">
  </div>

  <div class="comment__content-wrapper">
    <div class="comment__author">
      <h3>{{- include.name | strip_html -}}</h3>
    </div>

    <div class="comment__date">
      {%- if include.date -%}
      <a href="#{{ comment_id}}" title="Permalink to this comment">
        {{- include.date | date:"%B %eth, %Y %H:%M" -}}
      </a>
      {%- endif -%}
      </div>
  </div>

  <div class="comment__body">
    {{ include.message | strip_html | markdownify | replace: '<a href="http', '<a rel="ugc nofollow" target="_blank" href="http' }}
  </div>

  <div class="comment__meta">
    <a rel="nofollow" class="comment__reply-link" onclick="return addComment.moveForm('{{ comment_id }}', 'respond', '{{ page.slug }}', '{{ include.uid }}')">↪&#xFE0E; Reply to {{ include.name }}</a>
  </div>
</article>

  {%- capture this_uid %}{{ include.uid }}{% endcapture %}
  {%- assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to_uid == this_uid' %}
  {%- assign replies_date = replies | sort: 'date' %}
  {% for reply in replies_date %}
    {%- assign email       = reply.email -%}
    {%- assign name        = reply.name -%}
    {%- assign url         = reply.url -%}
    {%- assign date        = reply.date -%}
    {%- assign message     = reply.message -%}
    {%- assign uid         = reply._id -%}
    {% include comment.html is_reply=true uid=uid email=email name=name url=url date=date message=message %}
  {% endfor %}

{% if include.is_reply %}
{% else %}
  <hr style="border-top: 1px solid #ccc; background: transparent; margin-bottom: 10px;">
{% endif %}
