
<div class="{{ include.type | default: "list" }}__item">
  <article>
    <h2>{% if post.fullname %}<abbr title={{ post.fullname }}>{{ title }}</abbr>{% else %}{{ title }}{% endif %}</h2>
    <span class="comment__date">{% if post.begin and post.end %}<i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.begin | date: "%Y" }} - {{ post.end | date: "%Y" }} {% endif %}</span>
    <br/>
    <table>
      {% if site.author.orcid %}
        <tr>
          <th colspan="2"><abbr title="Open Researcher and Contributor ID">ORCID</abbr></th>
        </tr>
        <tr>
            <td><a href="{{ site.author.orcid }}"><i class="ai ai-orcid ai-4x"></i></a></td>
            <td>{{ site.author.orcid }}</td>
        </tr>
      {% endif %}
      {% if site.atom_feed.path %}
        <tr>
          <th colspan="2"><abbr title="Open Researcher and Contributor ID">ORCID</abbr></th>
        </tr>
        <tr>
            <td><a href="{{ base_path }}/feed.xml"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i></a></td>
            <td>{{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</td>
        </tr>
      {% endif %}

    </table>
  </article>
</div>
