{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    
     {% if site.linkedin.username %}
      <li><a href="https://linkedin.com/{{ site.linkedin.username }}"><i class="fab fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
    {% endif %}
    {% if site.facebook.username %}
      <li><a href="https://facebook.com/{{ site.facebook.username }}"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="http://github.com/{{ site.author.github }}"><i class="fab fa-github-square" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
   
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
<div style="text-align: center;">
  <img src="/images/bdu3.jpg" alt="BDU" style="display: inline-block; width: 60px;">
  <img src="/images/ppke.png" alt="PPCU" style="display: inline-block; width: 30px;">
  <img src="/images/uam.png" alt="UAM" style="display: inline-block; width: 30px;">
  <img src="/images/ub.png" alt="UBx" style="display: inline-block; width: 30px;">
</div>
  <div style="text-align: center;">
  <img src="/images/c++.png" alt="BDU" style="display: inline-block; width: 10px;">
  <img src="/images/python.png" alt="PPCU" style="display: inline-block; width: 10px;">
  <img src="/images/matlab.png" alt="UAM" style="display: inline-block; width: 10px;">
  <img src="/images/keras.jpeg" alt="UBx" style="display: inline-block; width: 10px;">
  <img src="/images/open.png" alt="BDU" style="display: inline-block; width: 10px;">
  <img src="/images/tensor.png" alt="PPCU" style="display: inline-block; width: 10px;">
  <img src="/images/pcl.png" alt="UAM" style="display: inline-block; width: 10px;">
  <img src="/images/scikit.png" alt="UBx" style="display: inline-block; width: 10px;">
  <img src="/images/pytorch.png" alt="BDU" style="display: inline-block; width: 10px;">
</div>
