{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}">
            <a href="{{ base_path }}/">
              <span class="lang-zh">冯波瀚</span>
              <span class="lang-en">Bohan Feng</span>
            </a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">
                <span class="lang-zh">{{ link.title_zh | default: link.title }}</span>
                <span class="lang-en">{{ link.title }}</span>
              </a>
            </li>
          {% endfor %}
          <li id="lang-toggle" class="masthead__menu-item persist tail">
            <a id="lang-toggle-btn" role="button" title="切换语言 / Switch Language">
              <span class="lang-zh">EN</span>
              <span class="lang-en">中</span>
            </a>
          </li>
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
