{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu site-nav">

      <!-- 사이트 타이틀 -->
      <div class="site-title">
        <a href="{{ base_path }}/">{{ site.title }}</a>
      </div>

      <!-- 메뉴 -->
      <ul class="site-menu">
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = base_path %}
          {% endif %}
          <li>
            <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}

        <li id="theme-toggle">
          <a role="button">
            <i id="theme-icon" class="fa-solid fa-sun"></i>
          </a>
        </li>
      </ul>

      <!-- 모바일 메뉴 버튼 -->
      <button class="menu-toggle" aria-label="Menu">
        <span></span><span></span><span></span>
      </button>

    </div>
  </div>
</div>