{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article>
    <h2>{% if post.fullname %}<abbr title={{ post.fullname }}>{{ title }}</abbr>{% else %}{{ title }}{% endif %}</h2>
    <span class="comment__date">{% if post.begin and post.end %}<i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.begin | date: "%Y" }} - {{ post.end | date: "%Y" }} {% endif %}</span>
    <br/>
    <table>
      <tr>
        <th colspan="3">{{ post.excerpt | markdownify }}
        <br/><p class="text-right"><a href="/projects/"+" {{ post.link }} " class="btn btn-primary" role="button">Publications relatives</a></p>
        <br/><p class="text-right"><a href="/projects/{{ post.link }} " class="btn btn-primary" role="button">Publications relatives</a></p>
        </th>
      </tr>
    </table>
  </article>
</div>
