{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2>{% if post.fullname %}<abbr title={{ post.fullname }}>{{ title }}</abbr>{% else %}{{ title }}{% endif %}</h2>
    <span class="comment__date">{% if post.begin and post.end %}<i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.begin | date: "%Y" }} - {{ post.end | date: "%Y" }} {% endif %}</span>

    <table>
      <tr>
        <th colspan="3">{{ post.excerpt | markdownify }}</th>
      </tr>
      <tr>
        <th class="text-center" style="width:33.33%">{% if post.context %}<i class="fa fa-bullhorn fa-2x"></i>{% endif %}</th>
        <th class="text-center" style="width:33.33%">{% if post.done %}<i class="fa fa-bolt fa-2x"></i>{% endif %}</th>
        <th class="text-center" style="width:33.33%">{% if post.results %}<i class="fa fa-heart fa-2x"></i>{% endif %}</th>
      </tr>
      <tr>
        <td><p>{% if post.context %}{{ post.context }} {% endif %}</p></td>
        <td><p style="vertical-align: top;">{% if post.done %}{{ post.done }} {% endif %}</p></td>
        <td><p style="vertical-align: top;">{% if post.results %}{{ post.results }} {% endif %}</p> <br/><p class="text-right"><a href="/publications#" class="btn btn-primary" role="button">Publications relatives</a></p></td>
      </tr>
    </table>

  </article>
</div>
