<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<div class="row">
  <div class="column">
    <div style="text-align: center;">
        <img src="/research/figures/obstacleprob.png"
        style="width:75%"
        alt="Pictorial description of an obstacle problem">
        <figcaption>Picture showing an obstacle problem</figcaption>
    </div> 
  </div>
</div>
</body>
</html>