{% assign have_related_posts = false %}
{% for post in site.related_posts | limit: site.related_blog_posts.max_related %}
  {% unless have_related_posts %}
    {% assign have_related_posts = true %}
    <br>
    <hr>
    <br>
    <ul class="list-disc pl-8"></ul>

    <!-- Adds related posts to the end of an article -->
    <h2 class="text-3xl font-semibold mb-4 mt-12">Enjoy Reading This Article?</h2>
    <p class="mb-2">Here are some more articles you might like to read next:</p>
  {% endunless %}

  <li class="my-2">
    <a class="text-pink-700 underline font-semibold hover:text-pink-800" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
{% if site.newsletter.enabled and site.footer_fixed %}
  <p class="mb-2" style="margin-top: 1.5rem !important">Subscribe to be notified of future articles:</p>
  {% include scripts/newsletter.liquid left=true %}
{% endif %}
