<script src="{{ base_path }}/assets/js/main.min.js"></script>
<script src="{{ base_path }}/assets/js/vendor/jquery/jquery-1.12.4.min.js" type="text/javascript"></script> 
<!-- <script src="{{ base_path }}/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script> -->
<script src="{{ base_path }}/assets/js/jquery.event.move.js" type="text/javascript"></script>
<script src="{{ base_path }}/assets/js/jquery.twentytwenty.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ base_path }}/assets/css/twentytwenty.css" type="text/css" media="screen" />

<script defer="" type="text/javascript">
<!--  $(window).load(function() {
  $(".twentytwenty-container").twentytwenty();
}); --> 
$(document).ready(function() {
  $(".twentytwenty-container").twentytwenty();
});
</script>



{% include analytics.html %}
{% include /comments-providers/scripts.html %}
