{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}

  <div class="sidebar sticky" style="margin-left: -2.6em; width: 1.9%; padding-top: 4em; position: absolute;">
    <a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
    <p>hello.</p>
    <ul class="author__urls">
      {% if author.email %}<li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a></li>{% endif %}
      {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a>{% endif %}
      {% if author.linkedin %}<a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>{% endif %}
      {% if author.github %}<a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>{% endif %}
      {% if author.googlescholar %}<a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i></a>{% endif %}
      {% if author.goodreads %}<a href="https://www.goodreads.com/user/show/{{ author.goodreads }}"><i class="fab fa-fw fa-goodreads"></i></a>{% endif %}  
      {% if author.angellist %}<a href="https://angel.co/{{ author.angellist }}"><i class="fab fa-fw fa-angellist"></i></a>{% endif %}  
    </ul>
  </div>

  <div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
    {% if page.sidebar %}
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src=
          {% if s.image contains "://" %}
            "{{ s.image }}"
          {% else %}
            "{{ s.image | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% endfor %}

      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}

    {% endif %}
  </div>
{% endif %}