<html>
<head>
<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
p {
  font-size: 5px; /* 14px/16=0.875em */
}
</style>
</head>
<body>
  <table>
      <tr>
        <th>h</th>
        <th>DOF</th>
        <th>$L_2$ Error</th>
        <th>Rate</th>
        <th>$||| \cdot |||$ Error</th>
        <th>Rate</th>
      </tr>
      <tr>
        <td>1/2</td>
        <td>12</td>
        <td>1.20e-01</td>
        <td>--</td>
        <td>2.84e-01</td>
        <td>--</td>
      </tr>
      <tr>
        <td>1/4</td>
        <td>48</td>
        <td>4.20e-02</td>
        <td>1.52</td>
        <td>9.86e-02 </td>
        <td>1.53</td>
      </tr>
      <tr>
        <td>1/8</td>
        <td>192</td>
        <td>9.95e-03</td>
        <td>2.08</td>
        <td>3.35e-02 </td>
        <td>1.56</td>
      </tr>
      <tr>
        <td>1/16</td>
        <td>768</td>
        <td>2.41e-03</td>
        <td>2.04</td>
        <td>1.15e-02 </td>
        <td>1.54</td>
      </tr>
      <tr>
        <td>1/32</td>
        <td>3072</td>
        <td>6.01e-04</td>
        <td>2.01</td>
        <td>3.97e-03 </td>
        <td>1.53</td>
      </tr>
      <tr>
        <td>1/64</td>
        <td>12288</td>
        <td>1.50e-04</td>
        <td>2.00</td>
        <td>1.38e-03 </td>
        <td>1.52</td>
      </tr>
       <tr>
        <td>1/128</td>
        <td>49152</td>
        <td>3.73e-05 </td>
        <td>2.01</td>
        <td>4.86e-04 </td>
        <td>1.51</td>
      </tr>
  </table>
  <p align="center"> Table showing convergence rates in $L_2$ and $||| \cdot |||$ norms.</p>
</body>
</html>



