<html>
<head>
<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
p {
  font-size: 5px; /* 14px/16=0.875em */
}
</style>
</head>
<body>
    <table>
        <tr>
          <th>h</th>
          <th>DOF</th>
          <th>$L_2$ Error</th>
          <th>Rate</th>
          <th>$||| \cdot |||$ Error</th>
          <th>Rate</th>
        </tr>
        <tr>
            <td>1/16</td>
            <td>768</td>
            <td>2.32e-04</td>
            <td>--</td>
            <td>2.29e-03 </td>
            <td>---</td>
        </tr>
        <tr>
            <td>1/32</td>
            <td>3072</td>
            <td>5.81e-05</td>
            <td>2.00</td>
            <td>8.07e-04 </td>
            <td>1.50</td>
        </tr>
        <tr>
            <td>1/64</td>
            <td>12288</td>
            <td>1.43e-05</td>
            <td>2.00</td>
            <td>2.85e-04 </td>
            <td>1.50</td>
        </tr>
         <tr>
            <td>1/128</td>
            <td>49152</td>
            <td>3.63e-06 </td>
            <td>2.00</td>
            <td>1.00e-04 </td>
            <td>1.50</td>
        </tr>
        <tr>
            <td>1/256</td>
            <td>196,610</td>
            <td>9.08e-07 </td>
            <td>2.00</td>
            <td>3.56e-05 </td>
            <td>1.50</td>
        </tr>
        <tr>
            <td>1/512</td>
            <td>786,430</td>
            <td>2.27e-07 </td>
            <td>2.00</td>
            <td>1.25e-05 </td>
            <td>1.50</td>
        </tr>  
    </table>
    <p align="center"> Table showing convergence rates in $L_2$ and $||| \cdot |||$ norms. Errors are computed on the subdomain $[0,0.875]^2$</p>
</body>
</html>



