.profile-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.profile-picture {
  flex: 0 0 auto; /* Prevent image from stretching */
  margin-bottom: 15px;
}
.profile-picture img {
  width: 100%;
  max-width: 320px;
  height: auto;
  margin-right: 15px; /* Default margin for desktop */
}
.pronunciation {
  margin-top: 10px; /* Adds space between the image and the text */
  font-style: italic;
  font-size: 0.10em; /* Smaller font size */
  color: #555; /* Optional: A subtle color */
  text-align: center; /* Center the text */
}
.profile-text {
  flex: 1;
  width: calc(100% - 320px); /* Ensures the text takes the remaining space */
}
.profile-info {
  text-align: center;
  margin-top: 15px;
}
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: flex-start; /* Align items to the start on mobile */
  }
  .profile-picture {
    order: -1;
    margin-right: 0;
    margin-bottom: 15px; /* Adds space below the picture */
  }
  .profile-picture img {
    margin-right: 0; /* Removes space to the right of the picture on mobile */
  }
  .profile-text {
    margin-top: 0; /* Removes extra space above the text */
    width: 100%; /* Ensures text takes full width on mobile */
  }
  .profile-info {
    margin-top: 20px;
  }
}
