/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;
  background-color: $background-color;
  -webkit-box-shadow: 0 3px 6px rgba(2,51,115,0.16), 0 3px 6px rgba(2,51,115,0.23);
  box-shadow: 0 3px 6px rgba(2,51,115,0.16), 0 3px 6px rgba(2,51,115,0.23);
  @include breakpoint($large){
    -webkit-box-shadow: 0 3px 6px rgba(250,250,250,0.16), 0 3px 6px rgba(250,250,250,0.23);
    box-shadow: 0 3px 6px rgba(250,250,250,0.16), 0 3px 6px rgba(250,250,250,0.23);
  }
  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;

  }
}
