/* ==========================================================================
   PAPERS
   ========================================================================== */

#wrapper {
	background-color: #FFFFFF; 
	display: inline-block;
	min-width: 1000px;
	min-height: 140px;
	text-align: center;
	height: auto;
	padding: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.Publication_image{
	display: inline-block;
	width: 160px;
	height: 120px;
	padding-top: 12px;
	float: left;
	border-radius: 5%;
}

.stay_image{
	display: inline-block;
	width: 120px;
	height: 30px;
	float: left;
	margin-right: 40px;
	border-radius: 5%;
}

.roundImage{
	border-radius: 5%;
}

.Publication_text{
	display: inline-block;
	padding-top: 7px;
	padding-left: 20px;
	float: left;
	height: 120px;
}

.Publication_title{
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	text-align: left;
	line-height: 1.5;
	font-size: 18px;
	color: #666;
}
.Publication_authors{
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	text-align: left;
	line-height: 1.3;
	font-size: 14px;
	color: #666;
}
.Publication_info{
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	text-align:left;
	line-height: 1.3;
	font-size: 16px;
	color: #666;
}

.Publication_links{
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	text-align:left;
	line-height: 1.5;
	font-size: 16px;
	color: #06F;
}

.roundImage{
	border-radius: 5%;
}
