/* ==========================================================================
   PAPERS
   ========================================================================== */

   .stay_image{
	display: inline-block;
	width: 120px;
	height: 30px;
	float: left;
	margin-right: 40px;
	border-radius: 5%;
}

.Publication_text{
	display: inline-block;
	padding-top: 7px;
	padding-left: 20px;
	float: left;
	height: 120px;
}