.publications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px auto;
}

.publication-thumbnail {
  width: 400px;
  height: auto;
  margin-right: 10px;
  @include breakpoint($x-large) {
    width: 330px;
  }
}

.publication-description {
  width: 400px;
  @include breakpoint($x-large) {
    width: 600px;
  }
}
