.publications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px auto;
}

.publication-thumbnail {
  width: 490px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  @include breakpoint($x-large) {
    width: 310px;
  }
}

.publication-description {
  width: 500px;
  @include breakpoint($x-large) {
    width: 630px;
  }
}
