/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 1px solid $light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;
    vertical-align: baseline;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
}

tr, td {
  vertical-align: top;
}

table.noborder, table.noborder tr, table.noborder th, table.noborder td {
  border: none;
  border-right:0px solid #fff;
}

.bordered {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $code-background-color;
  outline:0;
  -webkit-box-shadow:$box-shadow;
  box-shadow: $box-shadow; 
}
