/* ==========================================================================
   THEMES
   ========================================================================== */

/* Color codes used throughout the site */
$gray                          : #7a8288;
$dark-gray                     : mix(#000, $gray, 40%);
$darker-gray                   : mix(#000, $gray, 60%);
$light-gray                    : mix(#fff, $gray, 50%);
$lighter-gray                  : mix(#fff, $gray, 90%);

/* Default light theme for the site */
:root {
    --global-bg-color                   : #fff;
    --global-border-color               : #{$lighter-gray};
    --global-code-background-color      : #fafafa;
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-text-color                 : #{$dark-gray};
}