p {
    text-align: justify;
}

.greedy-nav .visible-links li:first-child a {
    font-weight: normal;
}

.author__name {
    text-align: center;
}


.author__bio {
    text-align: center;
}

.page__footer footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    max-width: 100%;
    padding: 1em 1em;
}

html {
    background-color: ghostwhite;
}

footer {
    background-color: black;
    color: #9ba1a6
}

.greedy-nav{
    background-color: ghostwhite;
}

h2 {
    margin:0px
}

.paper {
    min-height: 100px;
    font-size: 16px;
    padding-bottom: 30px;
    padding-left: 20px;

    ul {
        padding: 2px 0 0 0;
        margin: 0;
    }

    li {
        list-style: none;
        display: inline;
        padding: 0 10px 0 0;
    }

    div {
        padding: 2px 0 0 0px;
    }

    p {
        text-align: justify;
        font-size: 13px;
        padding: 2px 0 0 0;
        margin: 0;
        max-width: 800px;
    }
}

// .paper_link, .paper_venue_year, .paper_bib {
//     float:left;
//     padding: 0 10px 0 0
// }