details {
    margin-bottom: 1em;
}
.abstract-content {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: none;
}
.abstract-content.show {
    display: block;
}
.links {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}
.links a {
    text-decoration: none;
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
}
.links a:hover {
    text-decoration: underline;
}

/* Profile container styling */
.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.profile-picture {
    margin-right: 1em;
}
.profile-picture img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}
.profile-text {
    max-width: 600px;
}
.profile-info {
    font-size: 1.2em;
    margin-bottom: 2em;
}
.papers-list {
    list-style-type: decimal;
    margin-left: 20px;
}
.paper {
    margin-bottom: 1.5em;
}
