<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<div class="row">
  <div class="column">
    <div style="text-align: center;">
        <img src="/research/collaborators/YiZhang_.jpg"
        style="width:50%"
        alt="Picture of Dr. Yi Zhang">
        <figcaption><a href="https://mathstats.uncg.edu/people/directory/y-zhang/">Dr. Yi Zhang (Advisor)</a></figcaption>
    </div> 
  </div>
  <div class="column">
    <div style="text-align: center;">
        <img src="/research/collaborators/AaronRapp__.jpg"
        style="width:45%"
        alt="Picture of Dr. Aaron Rapp">
        <figcaption><a href="https://www.uvi.edu/directory/faculty/aaron-rapp.html">Dr. Aaron Rapp</a></figcaption>
    </div>
  </div>
  <div class="column">
    <div style="text-align: center;">
        <img src="/research/collaborators/SijingLiu_1_.jpg"
        style="width:65%"
        alt="Picture of Dr. Sijing Liu">
        <figcaption><a href="https://sites.google.com/view/sijingliu/home">Dr. Sijing Liu</a></figcaption>
    </div>
  </div>
  <div class="column">
    <div style="text-align: center;">
        <img src="/research/collaborators/TomLewis_.jpg"
        style="width:50%"
        alt="Picture of Dr. Tom Lewis">
        <figcaption><a href="https://mathstats.uncg.edu/people/directory/lewis/">Dr. Tom Lewis (Mentor)</a></figcaption>
    </div>
  </div>
</div>
</body>
</html>