<html>
<head>
    <style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 32%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <img src="/research/figures/EOCP/lh.png"
            style="width:40%"
            alt="Picture of numerical lagrange multiplier associated with control in P0 spanned space">
            <figcaption>l_h</figcaption>
      </div>
</body>
</html>



