@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body { padding-top: 20px; padding-bottom: 40px; font-family: 'Merriweather', Georgia, Times; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Merriweather', Georgia, Times; font-weight: 700;}




/*Alumnis*/
.alumnis{
    width: 100%;
 /*    height: 1000px;
    margin-bottom: 100px; */
    
}

/*all config students*/

.personas{
    margin: 30px;
    padding: 1px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* students - all img*/

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.galeria__image{
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.contenedor figure{
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}
.contenedor figure img{
    width: 100%;
    height: 100%;
/*     min-width: 80%;
    min-height: 80%; */
    
 
    transition: all 500ms ease-out;
 
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(161, 173, 230, 0.624);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
/*     justify-content: center; */
}
.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > .capa h4{
    margin-top: 60px;
    margin-bottom: 15px;
}

.contenedor figure:hover > img{
    transform: scale(1.2);
}

.contenedor figure .capa h4{
    color: rgb(5, 5, 5);
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin: 30px;


}

.contenedor figure .capa p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 15.5px;
    width: 100%;
    max-width: 80%;
    margin: auto;
    /* justify-content: center; */
    align-items: center;

}
/* students - for img*/



.personas .contenedor{
    display: grid;
    margin: auto;
}
@media(min-width:520px){
    .personas .contenedor{
        grid-template-columns: repeat(2,50%);
    }
}
@media(min-width:728px){
    .personas .contenedor{
        grid-template-columns: repeat(3,33.3%);
    }
}
@media(min-width:1024px){
    .personas .contenedor{
        grid-template-columns: repeat(4,25%);
    }
    .contenedor{
        width: 1024;
    }
}


/*title students*/

.flex-center{
	/* display: */
	justify-content: center;
	align-items: center;
}


.icon{
    font-size: 30px;
    width: 30px;
    height: 80px;
    border-radius: 18px;
    color: rgb(53, 50, 50);

   /*  margin-top: 3px; */


 
}
img{
    float: left;
}



