@charset "utf-8";
* {
	padding: 0;
	margin: 0;
	font-weight: 400;
}
html, body {
	font-size: 13px;
	font-family: "microsoft yahei";
	background: #F4F4F5;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #666;
	cursor: pointer;
}
a:hover {
	color: #136EC3;
}
.main {
	width: 1187px;
	margin: 30px auto;
}
.dy-content .dy-videos {
	padding: 10px;
	margin-left: -10px;
	margin-right: -10px;
	min-height: 500px;
	overflow: hidden;
	position: relative
}
.dy-content .dy-videos .dy-video-item {
	float: left;
	width: 180px;
	margin-right: 20px;
	margin-bottom: 18px;
	position: relative
}
.dy-content .dy-videos .dy-video-item .dy-video-poster {
	position: relative
}
.dy-content .dy-videos .dy-video-item .dy-video-link {
	display: block;
	height: 235px;
	overflow: hidden
}
.dy-content .dy-videos .dy-video-item .dy-video-link .s-pay {
	position: absolute;
	width: 56px;
	height: 43px;
	background: url(../images/paysite.png) no-repeat 0 0;
	left: 0;
	top: -1px;
}
.dy-content .dy-videos .dy-video-item .dy-video-date {
	position: absolute;
	bottom: 6px;
	right: 10px;
	color: #fff;
	line-height: 18px;
	padding: 0 4px;
	font-size: 12px;
	background-color: #000;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 3px;
	filter: alpha(opacity=60)
}
.dy-content .dy-videos .dy-video-item-last {
	margin-right: 0
}
.dy-content .dy-videos .dy-video-primary {
	position: relative;
	background-color: #fff;
	height: 40px;
	padding: 5px;
	line-height: 20px
}
.dy-content .dy-videos .dy-video-primary .dy-video-title {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-right: 24px;
	color: #292929;
	font-size: 14px
}
.dy-content .dy-videos .dy-video-primary .dy-video-intro {
	color: #A7A7A7;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}
.dy-content .dy-videos .dy-video-primary .dy-video-rating {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #FF3728;
	font-size: 15px
}
.dy-content .dy-videos ul li.dy-video-item .dy-video-meta {
	display: none
}
.dy-content .dy-videos ul li.dy-video-item:hover .dy-video-poster {
	z-index: 3
}
.dy-content .dy-videos ul li.dy-video-item:hover .dy-video-meta {
	display: block;
}
.dy-content .dy-videos .dy-video-meta .dy-video-meta-bg {
	position: absolute;
	top: -4px;
	width: 500px;
	height: 242px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 2px;
	z-index: 2;
	box-shadow: -1px 10px 35px 0px rgba(0,0,0,0.39);
-webkit-box-shadow: -1px 10px 35px 0px rgba(0,0,0,0.39);
-moz-box-shadow: -1px 10px 35px 0px rgba(0,0,0,0.39);
}
.dy-content .dy-videos .dy-video-meta .dy-video-meta-dy {
	position: absolute;
	top: 0;
	width: 280px;
	padding: 0 18px;
	height: 235px;
	background-color: #fff;
	overflow: hidden;
	z-index: 4
}
.dy-content .dy-videos .dy-video-meta .dy-video-title {
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #558dy9
}
.dy-content .dy-videos .dy-video-meta .dy-video-title a {
	color: #558dy9;
	font-size: 18px;
	text-decoration: none
}
.dy-content .dy-videos .dy-video-meta .dy-video-meta-list {
*zoom: 1;
	position: relative
}
.dy-content .dy-videos .dy-video-meta .dy-video-meta-list:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}
.dy-content .dy-videos .dy-video-meta .dy-video-meta-list li {
	float: left;
	line-height: 25px;
	height: 25px
}
.dy-content .dy-videos .dy-video-meta .dy-video-meta-list li a {
	color: #427fd0
}
.dy-content .dy-videos .dy-video-meta .dy-video-meta-list .dy-video-actors {
	float: none;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #427FD0
}
.dy-content .dy-videos .dy-video-meta .dy-split {
	margin-left: 5px;
	color: #a7a9ac
}
.dy-content .dy-videos .dy-video-meta .dy-video-tip {
	color: #a7a9ac
}
.dy-content .dy-videos .dy-video-meta .dy-video-meta-none, .dy-content .dy-videos .dy-video-meta .dy-video-meta-filter {
	color: #444
}
.dy-content .dy-videos .dy-video-meta .dy-video-intro {
	margin-top: 10px;
	line-height: 20px;
	height: 60px;
	overflow: hidden;
	color: #5f5f5f
}
.dy-content .dy-videos .dy-video-meta .dy-video-intro-more {
	color: #558dy9
}
.dy-content .dy-videos .dy-video-meta .dy-video-rating {
	position: absolute;
	right: 30px;
	top: 10px;
	color: #FF3728;
	font-size: 16px
}
.dy-content .dy-videos .dy-video-meta-left .dy-video-meta-bg {
	right: -4px
}
.dy-content .dy-videos .dy-video-meta-left .dy-video-meta-dy {
	right: 180px
}
.dy-content .dy-videos .dy-video-meta-right .dy-video-meta-bg {
	left: -4px
}
.dy-content .dy-videos .dy-video-meta-right .dy-video-meta-dy {
	left: 180px
}
