---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

body {
    padding: 0;
    color: #494e52;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    line-height: 1.5;
}

.masthead {
    position: relative;
    border-bottom: 1px solid #f2f3f3;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    z-index: 20;
    background: cadetblue;
    height: 60px;
}

.greedy-nav {
    position: relative;
    min-width: 250px;
    background: cadetblue;
    left: -20%;
}

.greedy-nav a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

.greedy-nav a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: #ffffff;
    text-decoration: none;
}

body {
    margin-top: 120px;
    padding: 0;
    padding-bottom: 9em;
    color: #494e52;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    line-height: 1.5;
}

.sidebar {
    padding-right: 0;
    position: fixed;
    margin-top: 6.5%;
}

.author__avatar img {
    max-width: 200px;
    border-radius: 10%;
}

.page__footer {
    clear: both;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    position: fixed;
    bottom: 0em;
    height: auto;
    margin-top: 3em;
    color: #9ba1a6;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    background-color: #f2f3f3;
    border-top: 1px solid #bdc1c4;
    background: cadetblue;
    color: white;
    height: 6%;
}

.masthead__inner-wrap {
    max-width: 925px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 10px;
    top: -15px;
    clear: both;
    padding: 1em 1em 1em;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    border: aqua;
}


.archive a {
    text-decoration: none;
    color: #3992ad;
    font-size: 1em;
}

p {
    margin-bottom: 1.3em;
    font-family: arial;
}

.page__footer-copyright {
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
}

.page__footer a {
    color: inherit;
    text-decoration: none;
    font-size: 120%;
}

.greedy-nav .visible-links a {
    position: relative;
    font-weight: bold;
}

footer {
    position: relative;
    top: -50%;
}

.page__footer-copyright {
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
    position: relative;
    right: -50%;
}