.video-bubble {
    display: inline-block;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid rgba(51,51,51,0.2);
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    margin-bottom: 0px;
    margin-left: 5px;
}
.video-bubble::after {
    content: "\00a0";  /* No break space */
}

.video-link::before {
    content: url('/images/icon-video.png');
    display: inline-block;
    margin-right: 2px;
    transform: scale(0.8);
}