<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in data[1] %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
        {% if content.date %}
        {% assign date = content.date | split: "-" | join: "." %}
        {% else %}
        {% assign date = "" %}
        {% endif %}
        <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
          {{ date }}
        </span>
      </div>
      <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
        <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="{{ content.url }}">{{content.title}}</a></h6>
        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">{{content.awarder}}</h6>
        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">{{content.summary}}</h6>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>