.image-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}

.image-slider img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-right: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-slider img:first-child {
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.image-slider img {
  animation: fade 10s ease-in-out infinite;
}
