.image-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  animation: slide 10s linear infinite;
}

.image-slider img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-right: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px - 10px));
  }
}
