{% if site.enable_tooltips %}
  <!-- Enable Tooltips -->
  <script type="text/javascript">
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
  </script>
{%- endif %}

{%- if site.enable_medium_zoom %}
  <!-- Medium Zoom JS -->
  <script defer src="https://cdn.jsdelivr.net/npm/medium-zoom@{{ site.medium_zoom.version }}/dist/medium-zoom.min.js" integrity="{{ site.medium_zoom.integrity }}" crossorigin="anonymous"></script>
  <script defer src="{{ '/assets/js/zoom.js' | relative_url }}"></script>
{%- endif -%}

{% if page.toc and page.toc.sidebar %}
  <!-- Sidebar Table of Contents -->
  <script defer src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
{% endif %}

  <!-- Bootstrap Table -->
  <script defer src="https://unpkg.com/bootstrap-table@{{ site.bootstrap-table.version }}/dist/bootstrap-table.min.js"></script>

  <!-- Load Common JS -->
  <script src="{{ '/assets/js/no_defer.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/common.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/copy_code.js' | relative_url }}" type="text/javascript"></script>
