<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width:50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<div class="row">
  <div class="column">
    <div style="text-align: center;">
        <img src="/talks/pics/AIMS2023/AIMS2023.jpg"
        style="width:100%"
        alt="Group picture of all AMS supported students at AIMS 2023">
        <figcaption>Group picture of all AMS supported students at AIMS 2023</figcaption>
    </div>
  </div>
  <div class="column">
    <div style="text-align: center;">
        <img src="_talks/pics/AIMS2023/AIMS2023grouppic.jpg"
        style="width:100%"
        alt="Applied math group from UNCG at AIMS 2023">
        <figcaption>Cultivating knowledge, creating memories at AIMS 2023 – where ideas collide and friendships thrive
          <br>(left to right) Dr. Aaron Rapp, Dr. Anantha Acharya, Dustin Nichols, Dr. Shalmali Bandyopadhyay, Myself and Dr. Elliott Hollifield
        </figcaption>
    </div> 
  </div>
</div>
</body>
</html>