<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width:50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
  <div style="text-align: center;">
    <video width="640" height="360" controls>
      <source src="/talks/pics/JMM2024/JMMTalk_vid.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p><i>Presenting at JMM2024</i></p>
  </div>
  <div style="text-align: center;">
    <img src="/talks/pics/JMM2024/JMMTalk_pic.jpg"
    style="width:75%"
    alt="Picture of me presenting at JMM 2024">
    <figcaption>Picture of me presenting at JMM2024</figcaption>
  </div>
  <div class="row">
    <div class="column">
      <div style="text-align: center;">
          <img src="/talks/pics/JMM2024/strang_.png"
          style="width:100%"
          alt="Picture  of Dustin Nichols and I with Dr. Gilbert Strang">
          <figcaption>
              <a href="https://sites.google.com/view/dnichols/home">Dustin Nichols</a> and I with 
              <a href="https://en.wikipedia.org/wiki/Gilbert_Strang">Dr. Gilbert Strang</a>
          </figcaption>
      </div>
    </div>
    <div class="column">
      <div style="text-align: center;">
          <img src="/talks/pics/JMM2024/tao__.png"
          style="width:85%"
          alt="Picture  of Keta Henderson and I with Dr. Gilbert Strang">
          <figcaption>
              <a href="https://sites.google.com/view/akhenderson/home">Keta Henderson</a> and I with 
              <a href="https://en.wikipedia.org/wiki/Terence_Tao">Dr. Terrence Tao</a>
          </figcaption>
      </div> 
    </div>
  </div>
  <div style="text-align: center;">
    <img src="/talks/pics/JMM2024/JMM_SjTwKe.jpg"
    style="width:75%"
    alt="Having a casual chat after my talk">
    <figcaption>(right to left) <a href="https://sites.google.com/view/akhenderson/home">Keta Henderson</a>, <a href="https://sites.google.com/view/thomasweighill/home">Dr. Thomas Weighill</a> and I having a small chit chat after my talk</figcaption>
  </div>
  <div style="text-align: center;">
    <img src="/talks/pics/JMM2024/JMM_Service.jpg"
    style="width:75%"
    alt="Interacting with prospective graduate students at graduate school fair">
    <figcaption>Engaging with prospective graduate students at <a href="https://www.ams.org/programs/students/gradfair">graduate school fair</a></figcaption>
  </div>
</body>
</html>