<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width:50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<div class="row">
  <div class="column">
    <div style="text-align: center;">
        <img src="/talks/pics/JMM2024/strang.png"
        style="width:100%"
        alt="Picture  of Dustin Nichols and I with Dr. Gilbert Strang">
        <figcaption>
            Picture of 
            <a href="https://sites.google.com/view/dnichols/home">Dustin Nichols</a> and I with 
            <a href="https://en.wikipedia.org/wiki/Gilbert_Strang">Dr. Gilbert Strang</a>
        </figcaption>
    </div>
  </div>
  <div class="column">
    <div style="text-align: center;">
        <img src="/talks/pics/JMM2024/tao.png"
        style="width:100%"
        alt="Picture  of Keta Henderson and I with Dr. Gilbert Strang">
        <figcaption>
            Picture of 
            <a href="https://sites.google.com/view/dnichols/home">Keta Henderson</a> and I with 
            <a href="https://en.wikipedia.org/wiki/Terence_Tao">Dr. Terrence Tao</a>
        </figcaption>
    </div> 
  </div>
</div>
</body>
</html>