<html>
  <head>
    <style>
    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width:50%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>
  </head>
  <body>
    <div style="text-align: center;">
      <video width="640" height="360" controls>
        <source src="/talks/pics/SEARCDE2022/SEARCDE2022Talk_vid.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <p><i>Presenting at SEARCDE2022</i></p>
    </div>
    <div style="text-align: center;">
      <img src="/talks/pics/SEARCDE2022/searcde22_.jpg"
      style="width:75%"
      alt="Picture of Dustin Nichols, Keta Henderson, Dr. Elliott Hoffield and I at SEARCDE2022">
      <figcaption>(left to right)
        <a href="https://sites.google.com/view/dnichols/home">Dustin Nichols</a>,
        Myself,
        <a href="https://www.uncp.edu/profile/elliott-hollifield-phd">Dr. Elliott Hollifield</a>,
        and 
        <a href="https://sites.google.com/view/akhenderson/home">Keta Henderson</a> 
        at SEARCDE2022</figcaption>
    </div>
    <br>
    <div style="text-align: center;">
      <img src="/talks/pics/SEARCDE2022/searcde22dinner_.jpg"
        style="width:75%"
        alt="Dinner at SEARCDE2022">
        <figcaption>Dinner at an Indian restaurant - Anjappar after SEARCDE2022</figcaption>
    </div>
  </body>
</html>