---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<style>
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 30%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}
</Style>
<!-- HTML !-->

  <div id="main" role="main">
    {% include sidebar.html %}
  
    <div class="archive">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <h1 class="page__title">{{ page.title }}</h1>
        <input id="search__input" class="page__title" placeholder="Search publication">
        <button  class="button-43" id="search__btn">Search</button>
      {% endunless %}
      {{ content }}
      
    </div>
  </div>

<script>
let input = document.getElementById("search__input");
let btn = document.getElementById("search__btn");
btn.onclick=function(){
  let s = input.value.toLowerCase();
  let list = document.getElementsByClassName("list__item");
  for(let i=0;i<list.length;i++){
      let item = list[i];
      let childr = [...item.firstChild.children];
      let filtered = childr.filter(p=>p.innerHTML.toLowerCase().search(s) != -1);
      if(filtered.length>0){
          item.removeAttribute("hidden");
      }else{
          item.setAttribute("hidden",true);
      }
  }
}
</script>
