---
---
<!-- _layouts/bib.html -->
      <div class="row">
        <div class="col-sm-2 {% if entry.preview %}preview{% else %}abbr{% endif %}">
        {%- if entry.preview -%}
          {% if entry.preview contains '://' -%}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
          {%- else -%}
            {%- assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' -%}
            {% include figure.html
            path=entry_path
            class="preview z-depth-1 rounded"
            alt=entry.preview -%}
          {%- endif -%}
        {%- elsif entry.abbr -%}
          {%- if site.data.venues[entry.abbr] -%}
            {%- assign venue_style = nil -%}
            {%- if site.data.venues[entry.abbr].color != blank -%}
              {%- assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' -%}
            {%- endif -%}
            <abbr class="badge" {% if venue_style %}{{venue_style}}{% endif %}><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
          {%- else -%}
            <abbr class="badge">{{entry.abbr}}</abbr>
          {%- endif -%}
        {%- endif -%}
        </div>

        <!-- Entry bib key -->
        <div id="{{entry.key}}" class="col-sm-8">
        <!-- Title -->
        <div class="title">{{entry.title}}</div>
        <!-- Author -->
        <div class="author">
        {% assign author_array_size = entry.author_array | size %}

        {% assign author_array_limit = author_array_size %}
        {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
          {% assign author_array_limit = site.max_author_limit %}
        {% endif %}

        {%- for author in entry.author_array limit: author_array_limit -%}
          {%- assign author_is_self = false -%}
          {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
          {%- if site.scholar.last_name contains author_last_name -%}
            {%- if site.scholar.first_name contains author.first -%}
              {%- assign author_is_self = true -%}
            {%- endif -%}
          {%- endif -%}
          {%- assign coauthor_url = nil -%}
          {%- if site.data.coauthors[author_last_name] -%}
            {%- for coauthor in site.data.coauthors[author_last_name] -%}
              {%- if coauthor.firstname contains author.first -%}
                {%- assign coauthor_url = coauthor.url -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}

          {%- if forloop.length > 1 -%}
            {%- if forloop.first == false -%},&nbsp;{%- endif -%}
            {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
          {%- endif -%}
          {%- if author_is_self -%}
            <em>{{author.first}} {{author.last}}</em>
          {%- else -%}
            {%- if coauthor_url -%}
              <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
            {%- else -%}
              {{author.first}} {{author.last}}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- assign more_authors = author_array_size | minus: author_array_limit -%}

        {%- assign more_authors_hide = more_authors | append: " more author" -%}
        {%- if more_authors > 0 -%}
          {%- if more_authors > 1 -%}
            {%- assign more_authors_hide = more_authors_hide | append: "s" -%}
          {%- endif -%}
          {%- assign more_authors_show = '' -%}
          {%- for author in entry.author_array offset: author_array_limit -%}
            {%- assign more_authors_show = more_authors_show | append: author.first | append: " " | append: author.last -%}
            {%- unless forloop.last -%}
              {%- assign more_authors_show = more_authors_show | append: ", " -%}
            {%- endunless -%}
          {%- endfor -%}
          , and
          <span
              class="more-authors"
              title="click to view {{more_authors_hide}}"
              onclick="
                var element = $(this);
                element.attr('title', '');
                var more_authors_text = element.text() == '{{more_authors_hide}}' ? '{{more_authors_show}}' : '{{more_authors_hide}}';
                var cursorPosition = 0;
                var textAdder = setInterval(function(){
                  element.text(more_authors_text.substring(0, cursorPosition + 1));
                  if (++cursorPosition == more_authors_text.length){
                    clearInterval(textAdder);
                  }
              }, '{{site.more_authors_animation_delay}}');
              "
          >{{more_authors_hide}}</span>
        {%- endif -%}

        </div>

        <!-- Journal/Book title and date -->
        {% assign proceedings = "inproceedings,incollection" | split: ','%}
        {% assign thesis = "thesis,mastersthesis,phdthesis" | split: ','%}
        {% if entry.type == "article" -%}
          {%- capture entrytype -%}<em>{{entry.journal}}</em>{%- endcapture -%}
        {%- elsif proceedings contains entry.type -%}
          {%- capture entrytype -%}<em>In {{entry.booktitle}}</em> {%- endcapture -%}
        {%- elsif thesis contains entry.type -%}
          {%- capture entrytype -%}<em>{{entry.school}}</em> {%- endcapture -%}
        {%- else -%}
          {%- capture entrytype -%}{%- endcapture -%}
        {%- endif -%}
        {%- if entry.month -%}
          {%- capture entrymonth -%}{{ " " }}{{ entry.month | capitalize }}{%- endcapture -%}
        {%- endif -%}
        {%- if entry.year -%}
          {%- capture entryyear -%}{{ " " }}{{entry.year}}{%- endcapture -%}
        {%- endif -%}
        {% assign entrytype_text = entrytype | strip_html | strip %}
        {%- capture periodical -%}{{ entrytype }}{%- if entrytype_text != "" and entryyear != "" -%}, {%- endif -%}{{ entrymonth }}{{ entryyear }}{%- endcapture -%}
        <div class="periodical">
          {{ periodical | strip }}
        </div>
        <div class="periodical">
          {{ entry.note | strip }}
        </div>

          <!-- Links/Buttons -->
          <div class="links">
          {%- if entry.abstract %}
            <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
          {%- endif %}
          {%- if entry.arxiv %}
            <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
          {%- endif %}
          {%- if entry.bibtex_show %}
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
          {%- endif %}
          {%- if entry.html %}
            <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button">HTML</a>
          {%- endif %}
          {%- if entry.pdf %}
            {% if entry.pdf contains '://' -%}
            <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
            {%- else -%}
            <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
            {%- endif %}
          {%- endif %}
          {%- if entry.supp %}
            {% if entry.supp contains '://' -%}
            <a href="{{ entry.supp }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
            {%- else -%}
            <a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
            {%- endif %}
          {%- endif %}
          {%- if entry.blog %}
            <a href="{{ entry.blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
          {%- endif %}
          {%- if entry.code %}
            <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>
          {%- endif %}
          {%- if entry.poster %}
            {% if entry.poster contains '://' -%}
            <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
            {%- else -%}
            <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
            {%- endif %}
          {%- endif %}
          {%- if entry.slides %}
            {% if entry.slides contains '://' -%}
            <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- else -%}
            <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- endif %}
          {%- endif %}
          {%- if entry.website %}
            <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
          {%- endif %}
          </div>
          {% if site.badges %}
          <div class="badges">
            {%- if site.badges.altmetric_badge %}
            <span class="altmetric-embed" data-hide-no-mentions="true" data-hide-less-than="15" data-badge-type="2" data-badge-popover="right"
              {% if entry.eprint %}
                data-arxiv-id="{{ entry.eprint }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% elsif entry.altmetric %}
                data-altmetric-id="{{ entry.altmetric }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
              ></span>
            {%- endif %}
            {%- if site.badges.dimensions_badge %}
              <span class="__dimensions_badge_embed__"
              {% if entry.doi %}
                data-doi="{{ entry.doi }}"
              {% else if entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% else %}
                data-id="{{ entry.dimensions }}"
              {% endif %}
              data-hide-zero-citations="true" data-style="small_rectangle" data-legend="hover-right" style="margin-bottom: 6px;"></span>
            {%- endif %}
          </div>
          {%- endif %}

          {% if entry.abstract -%}
          <!-- Hidden abstract block -->
          <div class="abstract hidden">
            <p>{{ entry.abstract }}</p>
          </div>
          {%- endif -%}

          {% if entry.bibtex_show -%}
          <!-- Hidden bibtex block -->
          <div class="bibtex hidden">
            {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
          </div>
          {%- endif %}
        </div>
      </div>
