---
layout: default
---

<section class="portfolio-index container">
  <h1 class="page-title">{{ page.title }}</h1>

  <ul class="portfolio-list">
    {% assign sorted_portfolio = site.portfolio | sort: 'semester_sort' | reverse %}
    {% for item in sorted_portfolio %}
    <li class="portfolio-entry">
      <a href="{{ item.url | relative_url }}">
        <div class="entry-text">
          <p class="project-meta">{{ item.semester }}</p>
          <h2>{{ item.title }} <span class="arrow">🔗</span></h2>
          <p>{{ item.excerpt }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
