---
layout: default
---
<!-- _layouts/post.html -->
{%- assign year = page.date | date: "%Y" -%}
{%- assign tags = page.tags | join: "" -%}
{%- assign categories = page.categories | join: "" -%}

{% if page._styles %}
<!-- Page/Post style -->
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{%- if page.author -%} • {{ page.author }}{%- endif -%}{%- if page.meta -%} • {{ page.meta }}{%- endif -%}</p>
    <p class="post-tags">
      <a href="{{ year | prepend: '/blog/' | prepend: site.baseurl}}"> <i class="fas fa-calendar fa-sm"></i> {{ year }} </a>
      {%- if tags != "" %}
      &nbsp; &middot; &nbsp;
        {% for tag in page.tags -%}
        <a href="{{ tag | prepend: '/blog/tag/' | prepend: site.baseurl}}">
          <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a> &nbsp;
          {% endfor -%}
      {% endif %}

      {%- if categories != "" %}
      &nbsp; &middot; &nbsp;
        {% for category in page.categories -%}
        <a href="{{ category | prepend: '/blog/category/' | prepend: site.baseurl}}">
          <i class="fas fa-tag fa-sm"></i> {{ category }}</a> &nbsp;
          {% endfor -%}
      {% endif %}

    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {%- if site.disqus_shortname and page.comments -%}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname  = '{{ site.disqus_shortname }}';
      var disqus_identifier = '{{ page.id }}';
      var disqus_title      = {{ page.title | jsonify }};
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {%- endif %}

</div>
