---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}
      <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.excerpt %}
      <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}

    <div class="page__inner-wrap">
      <header>
        {% if page.title %}
          <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>
        {% endif %}
      </header>

      <section class="page__content" itemprop="text">
        {% assign talk_categories = "invited,contributed,poster" | split: "," %}

        {% for category in talk_categories %}
          {% assign show_category = false %}
          {% for post in site.talks reversed %}
            {% if post.talk_type != category %}
              {% continue %}
            {% endif %}

            {% unless show_category %}
              <h2>{{ category | capitalize }} Talks</h2><hr>
              {% assign show_category = true %}
            {% endunless %}

            {% include archive-single-talk.html %}
          {% endfor %}
        {% endfor %}
      </section>
    </div>
  </article>
</div>
