.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.theme-switch {
    display: inline-block;
    height: 26px; /* Reduced height */
    position: relative;
    width: 50px; /* Reduced width for smaller slider */
}

.theme-switch input { 
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #f3f3f3;
    bottom: 4px;
    content: "";
    height: 18px; /* Reduced height */
    left: 4px; /* Initially positioned at the left */
    position: absolute;
    transition: .4s;
    width: 18px; /* Reduced width */
}

input:checked + .slider {
    background-color: #252a34;
}

.slider.round {
    border-radius: 26px; /* Adjusted for reduced height */
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider:before {
    left: calc(100% - 22px); /* Adjust left position for smaller button */
}

