/*------------------------------------------------------------------
  	[Text Colors]
------------------------------------------------------------------*/

.color-base { color: $color-base !important; }
.color-white { color: $color-white !important; }
.color-heading { color: $color-heading !important; }
.color-subtitle { color: $color-subtitle !important; }
.color-link { color: $color-link !important; }
.color-link-hover { color: $color-link-hover !important; }
.color-sky-light { color: $color-sky-light !important; }


/*------------------------------------------------------------------
  	[Background Colors]
------------------------------------------------------------------*/

.bg-color-base { background: $color-base !important; }
.bg-color-white { background: $color-white !important; }
.bg-color-heading { background: $color-heading !important; }
.bg-color-subtitle { background: $color-subtitle !important; }
.bg-color-link { background: $color-link !important; }
.bg-color-link-hover { background: $color-link-hover !important; }
.bg-color-sky-light { background: $color-sky-light !important; }